/* ================================================== */
/* CSS for control sap.ui.commons/CalloutBase.control */
/* ================================================== */

.sapUiCltBase{
	color: @sapUiBaseText;
	background-color: @sapUiExtraLightBG;
	border-width: 1px;
	border-style: solid;
	border-color: @sapUiMediumBorder;
}

.sapUiCltBaseCont{
	margin: 0px;
	padding: 0px;
	border-style: none;
}

.sapUiCltBaseArr{
	display: none;
}