/* =============================================== */
/* CSS for control sap.ui.commons/Carousel.control */
/* =============================================== */

.sapUiCrslHorizontal .sapUiCrslPrevBtn,
.sapUiCrslHorizontal .sapUiCrslNextBtn {
	width: 22px;
}

.sapUiCrslVertical .sapUiCrslPrevBtn,
.sapUiCrslVertical .sapUiCrslNextBtn {
	height: 22px;
	line-height: 22px;
}

.sapUiCrslPrevBtn, .sapUiCrslNextBtn {
	cursor: pointer;
}

.sapUiCrslHorizontal .sapUiCrslPrevBtn {
	position: absolute;
	left: 0;
	text-align: center;
}

.sapUiCrslHorizontal .sapUiCrslNextBtn {
	position: absolute;
	right: 0;
	text-align: center;
}

.sapUiCrsl {
	position: relative;
}

.sapUiCrslItm {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.sapUiCrslHorizontal .sapUiCrslScl {
	display:inline-block;
	width: 250%;
}

.sapUiCrslHorizontal .sapUiCrslItm {
	display: inline-block;
	list-style: none;
	padding: 0 5px;
	vertical-align: bottom;
}

.sapUiCrslVertical .sapUiCrslItm {
	display:block;
	list-style: none;
	padding: 5px 0;
}

.sapUiCrslScl {
	list-style:none;
	white-space:normal;
	padding:0;
	margin:0;
}

.sapUiCrslCnt {
	position: absolute;
	clip: rect(auto auto auto auto);
	overflow: hidden;
}

.sapUiCrslVertical .sapUiCrslNextBtn {
	text-align: center;
	position: absolute;
	bottom: 0;
}

.sapUiCrslVertical .sapUiCrslPrevBtn {
	text-align: center;
	position: absolute;
	top: 0;
}

.sapUiCrslVertical .sapUiCrslNextBtn:hover {
	text-align: center;
}

.sapUiCrslVertical .sapUiCrslPrevBtn:hover {
	text-align: center;
}

.sapUiCrslHorizontal .sapUiCrslNextBtn:hover {
	text-align: center;
}

.sapUiCrslHorizontal .sapUiCrslPrevBtn:hover {
	text-align: center;
}
