<!DOCTYPE html>
<html>
<head>
  <title>Spine.js</title>
  <link rel="stylesheet" href="css/application.css" type="text/css" charset="utf-8">

  <script src="lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.tmpl.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/spine.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/local.js" type="text/javascript" charset="utf-8"></script>

  <script src="js/controllers/tasks.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/models/task.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="views">
    <div id="tasks">
      <h1>Todos</h1>

      <form id="new-task">
        <input name="name" type="text" placeholder="What needs to be done?">
      </form>

      <div class="items">
        <script type="text/html" id="task-template">
          <div class="item {{if done}}done{{/if}}">
            <div class="view" title="Double click to edit...">
              <input type="checkbox" {{if done}}checked="checked"{{/if}}>
              <span>${name}</span> <a class="destroy"></a>
            </div>

            <form class="edit">
              <input type="text" name="name" value="${name}">
            </form>
          </div>
        </script>
      </div>

      <footer>
        <a class="clear">Clear completed</a>
        <div class="count"><span class="countVal"></span> left</div>
      </footer>
    </div>
  </div>

  <div id="credits">
    Based on the official <a href="https://github.com/maccman/spine.todos">Spine.Todos</a>.
  </div>
</body>
</html>