node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common/*
!node_modules/todomvc-common/base.css
!node_modules/todomvc-common/base.js

# Files and directories created by pub
.packages
.pub/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

.idea