<span id="todo-count">
  <strong></strong>
  <span class="todo-count-title">items</span>
  left
</span>
<ul id="filters">
  <li>
    <a href="#/">All</a>
  </li>
  <li>
    <a href="#/active">Active</a>
  </li>
  <li>
    <a href="#/completed">Completed</a>
  </li>
</ul>
<button id="clear-completed">
  Clear completed
  <span id="completed-count"></span>
</button>
