<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Template - TodoMVC</title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<div id="todoapp">
		<header>
			<h1>Todos</h1>
			<input id="new-todo" type="text" placeholder="What needs to be done?">
		</header>
		<!-- this section is hidden by default and you be shown when there are todos and hidden when not -->
		<section id="main">
			<input id="toggle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list">
				<li class="done">
					<div class="view">
						<input class="toggle" type="checkbox" checked>
						<label>Create a TodoMVC template</label>
						<a class="destroy"></a>
					</div>
					<input class="edit" type="text" value="Create a TodoMVC template">
				</li>
				<li>
					<div class="view">
						<input class="toggle" type="checkbox">
						<label>Rule the web</label>
						<a class="destroy"></a>
					</div>
					<input class="edit" type="text" value="Rule the web">
				</li>
			</ul>
		</section>
		<!-- this footer needs to be shown with JS when there are todos and hidden when not -->
		<footer>
			<a id="clear-completed">Clear completed</a>
			<div id="todo-count"></div>
		</footer>
	</div>
	<div id="instructions">
		Double-click to edit a todo.
	</div>
	<div id="credits">
		Created by <a href="http://addyosmani.github.com/todomvc/">you</a>.
	</div>
	<!-- scripts here -->
	<script src="js/app.js"></script>
</body>
</html>