<span id="todo-count"><strong>0</strong> items left</span>
<ul id="filters">
	<li>
		<a href="#/">All</a>
	</li>
	<li>
		<a href="#/active">Active</a>
	</li>
	<li>
		<a href="#/completed">Completed</a>
	</li>
</ul>
<button id="clear-completed"></button>
