@import "compass/css3";
@import "compass/reset";

/* CSS Reset */
@include global-reset;

body {
  line-height: 1;
  font-family: "Lucida Grande", sans-serif;
  font-size: 13px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* App CSS */
body, html {
  color: #777;
  background-color: #F2F4F5;
}

.sc-view {
  position: relative;
  overflow: visible;
}

$width: 600px;
$border: 1px solid #bbb;

body {
  @include box-shadow(rgba(0,0,0,0.6) 0 0 1px);
  @include border-radius(8px);

  $padding: 10px;
  $header-height: 20px;

  position: absolute;
  width: $width;
  left: 50%;
  margin-top: 38px;
  border: $border;
  margin-left: -300px;
  background-color: #fff;
  padding: ($header-height + $padding * 2) $padding $padding;

  .mark-all-done label {
    margin-left: 5px;
    font-weight: bold;
  }

  #stats {
    overflow: hidden;
    width: 100%;
    padding: 5px $padding;
    margin: $padding ($padding * -1);
    background-color: #eee;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    line-height: 25px;

    .remaining {
      float: left;
    }

    .sc-button {
      @include background-image(linear-gradient(#F9F9F9 1%, #DDD, #F2F2F2, #F7F7F7));
      border: 1px solid #828282;
      color: #000;
      float: right;
      padding: 5px;

      &:hover {
        @include background-image(linear-gradient(#FFF 1%, #E2E2E2, #F7F7F7, #FCFCFC));
      }

      &.is-active {
        @include background-image(linear-gradient(#EFEFEF 1%, #D3D3D3, #E8E8E8, #EDEDED));
      }
    }
  }

  input[type='text'] {
    @include border-radius(5px);
    @include single-box-shadow(rgba(0,0,0,0.6), 0, 0, 10px, -2px);
    color: #999;
    background-color: rgb(240,240,240);
    width: $width - ($padding) - 2px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    padding: 5px;
    border: $border;
    font-weight: 500;

    &::-webkit-input-placeholder {
      color: #aaa;
    }
  }

  h1 {
    @include border-top-radius(8px);
    @include background-image(linear-gradient(color-stops(white, rgb(244,244,244) 49%, rgb(237,237,237) 51%, #dedede)));
    @include single-text-shadow(white, 0, 1px, 1px);

    font-size: 15px;
    position: absolute;
    width: $width;
    height: $header-height;
    color: rgb(83,86,94);
    top: 0;
    left: 0;
    padding: ($padding / 2) $padding;
    border-bottom: $border;
  }

  .sc-checkbox {
    input[type="checkbox"] {
      margin-right: 7px;
    }
  }

  ul {
    margin: 10px 0 2px 0;

    li {
      padding: 5px;
      
      &.is-done {
        color: #B7B7B7;
        text-decoration: line-through;
      }
    }

    li:nth-child(odd) {
      background-color: #F7F7F7;
    }
  }
}

