/*overwrite this as its getting in the angular way */
#main {
    display: block;
}

#todoapp footer{
    display: block;
}

/*this doesn't seem to be used in the jquery example at all. Its getting in the way */
#todo-count span {
	font-weight: inherit;
}