#main.show,
#stats.show,
#stats.show #clear-completed {
  display: block;
}

body {
  position: relative;
}

#todo-list li .date {
  color: #999;
	font-size: 60%;
  font-style: italic;
}

#todo-list li .date.late {
  color: #900;
}

#todo-list li .clear-date,
#todo-list li .due-date {   
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 22px;
  color: #a88a8a;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;  
}

#todo-list li .clear-date {
  right: 70px;
}

#todo-list li .due-date {
  right: 40px;
}

#todo-list li:hover .clear-date.show,
#todo-list li:hover .due-date {
	display: block;
}

#calendar {
  height: 200px;
  position: absolute;
  right: -190px;
  width: 200px;
  z-index: 999;
}