<!doctype html>
<html lang="en" ng-app data-framework="angulardart">
	<head>
		<meta charset="utf-8">
		<title>AngularDart • TodoMVC</title>
		<link rel="stylesheet" href="../node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="../node_modules/todomvc-app-css/index.css">
		<style>
			[ng-cloak] { display: none; }
			.ng-show { display: block; }
			.ng-hide { display: none; }
		</style>
	</head>
	<body>
		<section todo-controller class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<form class="todo-form" ng-submit="todo.add()">
					<input type="text" class="new-todo" placeholder="What needs to be done?" ng-model="todo.newItem.title" autofocus>
				</form>
			</header>
			<section class="main" ng-if="todo.total()" ng-cloak>
				<input id="toggle-all" class="toggle-all" type="checkbox" ng-model="todo.allChecked">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<li ng-repeat="item in todo.items | filter:statusFilter" ng-class="{completed: item.completed, editing: item == todo.editedItem}">
						<div class="view">
							<input type="checkbox" class="toggle" ng-model="item.completed">
							<label ng-doubleclick="todo.editTodo(item)">{{item.title}}</label>
							<button class="destroy" ng-click="todo.remove(item)"></button>
						</div>
						<form ng-submit="todo.doneEditing()">
							<input type="text" class="edit" ng-trim="false" ng-model="item.title" todo-escape="todo.revertEditing(item)" ng-blur="todo.doneEditing()" todo-focus="item == todo.editedItem">
						</form>
					</li>
				</ul>
			</section>
			<footer class="footer" ng-hide="!todo.total()" ng-cloak>
				<span class="todo-count"><strong>{{todo.remaining()}}</strong>
					<ng-pluralize count="todo.remaining()" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
				<button class="clear-completed" ng-click="todo.clearCompleted()" ng-if="todo.completed() > 0">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="http://passy.me/">Pascal Hartig</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script src="../node_modules/todomvc-common/base.js"></script>
		<script src="main.dart" type="application/dart"></script>
		<script src="packages/browser/dart.js"></script>
	</body>
</html>
