/*
	Fun injects "hook" dom nodes into the dom tree. The
	reason why is too involved to outline here. However,
	they break a few of the todo app styles, such as
	`#todo-list li:last-child { border-bottom:none; }`.
	This should be rectified in fun in the future, but
	these css modifications are fine in the meantime.
*/

body {
	background:
	#EEE url('../../assets/bg.png');
}

#todo-list li:last-child {
	border-bottom: 1px dotted #CCC;
}

#todo-list li label {
	margin:20px 22px;
}
