{{#if todos.length}}
  {{#if canToggle}}
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      checked={{allCompleted}}
      onchange={{action "toggleAll"}}
    >
    <label for="toggle-all">Mark all as complete</label>
  {{/if}}
  <ul class="todo-list">
    {{#each todos as |todo|}}
      {{todo-item
        todo=todo
        onStartEdit=(action "disableToggle")
        onEndEdit=(action "enableToggle")
      }}
    {{/each}}
  </ul>
{{/if}}
