
/* ============================================= */
/* CSS for control sap.ui.suite/VerticalProgressIndicator.control */
/* ============================================= */


.sapUiVerticalProgressOuterContainer{
	border: 2px solid @sapUiBaseBorder;
	width:  31px;
	height: 58px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
	background-color: @sapUiMediumBG;
}
 
.sapUiVerticalProgressInnerContainer{
	position: relative; 
	background-color: @sapUiDarkBG;
}