.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

node_modules/
.sass-cache/
.statictmp

js/**/Gruntfile.js
css/**/Gruntfile.js
config.js
public/
target/
css/origin/
js/origin/
origin/

