[submodule "labs/architecture-examples/cujo/js/lib/when"]
	path = labs/architecture-examples/cujo/js/lib/when
	url = git://github.com/cujojs/when.git
[submodule "labs/architecture-examples/cujo/js/lib/wire"]
	path = labs/architecture-examples/cujo/js/lib/wire
	url = git://github.com/cujojs/wire.git
[submodule "labs/architecture-examples/cujo/js/lib/curl"]
	path = labs/architecture-examples/cujo/js/lib/curl
	url = git://github.com/cujojs/curl.git
[submodule "labs/architecture-examples/cujo/js/lib/aop"]
	path = labs/architecture-examples/cujo/js/lib/aop
	url = git://github.com/cujojs/aop.git
[submodule "labs/architecture-examples/cujo/js/lib/cola"]
	path = labs/architecture-examples/cujo/js/lib/cola
	url = git://github.com/cujojs/cola.git
