<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>TeenTaskers</title>
		<link rel="stylesheet" href="./css/agency.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
		<style>
			/*animation demo*/
			.test-jobs-items.ng-enter {
		    max-height: 0;
		    transition: max-height .4s ease-out;
			}
			.test-jobs-items.ng-enter-active {
		    max-height: 200px;
			}
			.test-jobs-items.ng-leave {
		    max-height: 200px;
		    opacity: 1;
		    transition: opacity .4s ease-out, max-height 0.4s;
			}
			.test-jobs-items.ng-leave-active {
		    max-height: 0;
		    opacity: 0;
			}
		</style>
	</head>

	<body ng-app="tasker">
		<!-- Navigation -->
	    <nav class="navbar navbar-default navbar-fixed-top">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header page-scroll">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand page-scroll" href="#/">TeenTasker</a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li class="hidden">
	                        <a href="#page-top"></a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="#/jobs">Jobs</a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="#/job/new">Post a job</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container-fluid -->
	    </nav>

		<ng-view />

		<script type="text/ng-template" id="joblist.html">
			<div class="media" ng-repeat="job in jobs">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="..." alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">{{ job.title }}</h4>
			    {{ job.details }}
			  </div>
			</div>
		</script>

		<script type="text/ng-template" id="landing.html">
			<!-- Header -->
		    <header>
		        <div class="container">
		            <div class="intro-text">
		            	<div class="intro-heading">TeenTasker</div>
		                <div class="intro-lead-in">Bridging the gap between youth and their community</div>
		                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
		            </div>
		        </div>
		    </header>

		    <!-- Services Section -->
		    <section id="services">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12 text-center">
		                    <h2 class="section-heading">Services</h2>
		                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
		                </div>
		            </div>
		            <div class="row text-center">
		                <div class="col-md-4">
		                    <span class="fa-stack fa-4x">
		                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
		                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
		                    </span>
		                    <h4 class="service-heading">E-Commerce</h4>
		                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
		                </div>
		                <div class="col-md-4">
		                    <span class="fa-stack fa-4x">
		                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
		                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
		                    </span>
		                    <h4 class="service-heading">Responsive Design</h4>
		                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
		                </div>
		                <div class="col-md-4">
		                    <span class="fa-stack fa-4x">
		                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
		                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
		                    </span>
		                    <h4 class="service-heading">Web Security</h4>
		                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
		                </div>
		            </div>
		        </div>
		    </section>

		    <!-- Team Section -->
		    <section id="team" class="bg-light-gray">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12 text-center">
		                    <h2 class="section-heading">Our Amazing Team</h2>
		                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-sm-4">
		                    <div class="team-member">
		                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
		                        <h4>Kay Garland</h4>
		                        <p class="text-muted">Lead Designer</p>
		                        <ul class="list-inline social-buttons">
		                            <li><a href="#"><i class="fa fa-twitter"></i></a>
		                            </li>
		                            <li><a href="#"><i class="fa fa-facebook"></i></a>
		                            </li>
		                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		                <div class="col-sm-4">
		                    <div class="team-member">
		                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
		                        <h4>Larry Parker</h4>
		                        <p class="text-muted">Lead Marketer</p>
		                        <ul class="list-inline social-buttons">
		                            <li><a href="#"><i class="fa fa-twitter"></i></a>
		                            </li>
		                            <li><a href="#"><i class="fa fa-facebook"></i></a>
		                            </li>
		                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		                <div class="col-sm-4">
		                    <div class="team-member">
		                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
		                        <h4>Diana Pertersen</h4>
		                        <p class="text-muted">Lead Developer</p>
		                        <ul class="list-inline social-buttons">
		                            <li><a href="#"><i class="fa fa-twitter"></i></a>
		                            </li>
		                            <li><a href="#"><i class="fa fa-facebook"></i></a>
		                            </li>
		                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-lg-8 col-lg-offset-2 text-center">
		                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
		                </div>
		            </div>
		        </div>
		    </section>

		    <!-- Contact Section -->
		    <!-- <section id="contact">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12 text-center">
		                    <h2 class="section-heading">Contact Us</h2>
		                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-lg-12">
		                    <form name="sentMessage" id="contactForm" novalidate>
		                        <div class="row">
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                                <div class="form-group">
		                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                                <div class="form-group">
		                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                            </div>
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                            </div>
		                            <div class="clearfix"></div>
		                            <div class="col-lg-12 text-center">
		                                <div id="success"></div>
		                                <button type="submit" class="btn btn-xl">Send Message</button>
		                            </div>
		                        </div>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </section> -->
		</script>
		<title>Teen Tasker</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>


		<script type="text/ng-template" id="job-new.html">
		    <!-- New Job Form Section -->
			<section id="taskerapp">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12 text-center">
		                    <h2 class="section-heading">New Job</h2>
		                    <h3 class="section-subheading text-muted">Post your advert for the job you need doing here:</h3>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-lg-12">
		                    <form id="new-form" ng-submit="addJob()">
		                        <div class="row">
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <input type="text" class="form-control" id="new-title" placeholder="Briefly, what needs to be done? *" ng-model="newJob.title" ng-disabled="saving" autofocus required data-validation-required-message="Please enter a job title.">
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                                <div class="form-group">
		                                    <input type="number" min="1" max="48" class="form-control" id="new-duration" placeholder="How many hours will it take? *" ng-model="newJob.duration" ng-disabled="saving" required data-validation-required-message="Please enter estimated hours.">
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                                <div class="form-group">
		                                    <input type="number" min="3.87" max="100.00" class="form-control" id="new-price" placeholder="£ Price you will pay *" ng-model="newJob.price" ng-disabled="saving" required data-validation-required-message="Please enter price you will pay for the job. Minimum wage is £3.87/hr for U18, £5.30/hr for U20 and £6.70/hr for over 21s.">
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                                <div class="form-group">
		                                    <input class="form-control" id="new-location" placeholder="Where is the job? *" ng-model="newJob.location" ng-disabled="saving" required data-validation-required-message="Please enter where the job is.">
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                                <div class="form-group">
		                                    <input type="datetime-local" step="900" class="form-control" id="new-when" placeholder="When do you want the job done? *" ng-model="newJob.when" ng-disabled="saving" required data-validation-required-message="Please enter date and time you want the job started.">
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                            </div>
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <textarea class="form-control" id="new-details" placeholder="What details do you need to tell the teen-tasker?" ng-model="newJob.details" ng-disabled="saving"></textarea>
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                            </div>
		                            <div class="clearfix"></div>
		                            <div class="col-lg-12 text-center">
		                                <div id="success"></div>
		                                <button type="submit" class="btn btn-xl">Save Job</button>
		                            </div>
		                        </div>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </section>
		</script>

		<script type="text/ng-template" id="test.html">
			<div style="margin-top: 100px; overflow: hidden;">
				<div class="test-jobs-container"
					style="float: left; width: 48%">
					Jobs List
					<div class="test-jobs-items"
						style="position: relative; border: 2px solid lightgray; padding: 5px; margin-bottom:5px; background: white; border-radius: 7px"
						ng-repeat="job in jobs | orderBy:'$id':true">
						<a href="#"
							style="position: absolute; top: 5px; right: 5px; text-decoration: none"
							ng-if="job.employer === employerId"
							ng-click="testJobDelete($event, job)">X</a>
						<p><b>Title:</b> {{ job.title }}</p>
						<p><b>Date:</b> {{ job.date | date:'mediumDate' }}</p>
						<p><b>Duration:</b> {{ job.duration }}</p>
						<p><b>Rate:</b> {{ job.rate }}</p>
						<p><b>Details:</b> {{ job.details }}</p>
					</div>
				</div>
				<div class="test-jobs-create-container"
					style="float: right; width: 48%">
					New Jobs
	        <form ng-submit="testNewSubmit()">
	        	<input type="text" placeholder="title" ng-model="testNewVars.title">
	        	<input type="date" ng-model="testNewVars.date">
	        	<input type="number" placeholder="duration (hrs)" ng-model="testNewVars.duration">
	        	<input type="number" placeholder="rate (£/hr)" ng-model="testNewVars.rate">
	        	<textarea placeholder="details" ng-model="testNewVars.details"></textarea>
  					<button type="submit">Add</button>
	        </form>
				</div>
			</div>
		</script>


		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-route/angular-route.js"></script>
		<script src="node_modules/angular-resource/angular-resource.js"></script>
		<script src="node_modules/angular-animate/angular-animate.min.js"></script>
		<script src="node_modules/angularfire/dist/angularfire.min.js"></script>
		<script src="js/firebase.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/jobCtrl.js"></script>
		<script src="js/controllers/testCtrl.js"></script>
		<script src="js/services/appStorage.js"></script>
	</body>
</html>
