
/* ============================================= */
/* CSS for control sap.m/DateRangeSelection.control */
/* ============================================= */
.sapMDP {
	position: relative;
}
/* HCB Additional Styles */
.sapMDP > .sapMInputBaseInner:focus, .sapMDP > input:focus{
  outline: 0.125rem dotted @sapHCStandardFG;
  outline-offset: -0.188rem;
}