.sapMDialog {
	background: @sapHCStandardBG;
	border: 0.125rem solid @sapHCStandardFG;
	border-radius: 0.250rem;
	box-shadow: 0 0 2.5rem 0.125rem @sapHCShadowTint;
	-moz-box-shadow: 0 0 2.5rem 0.125rem @sapHCShadowTint;
	-webkit-box-shadow: 0 0 2.5rem 0.125rem @sapHCShadowTint;
}

.sapMDialogSection {
	background-color: @sapHCStandardBG;
}

.sapMMessageDialog.sapMPopup-CTX > header.sapMDialogTitle {
	background-color: @sapHCStandardBG;
}

.sapMDialog > header.sapMDialogTitle > .sapMBarMiddle > .sapMBarPH > .sapMTitle {
	color: @sapHCStandardFG;
}

.sapMDialog > header.sapMDialogTitle > .sapMBarMiddle > .sapMBarPH > .sapUiIcon {
	color: @sapHCStandardFG;
}

.sapMTB.sapMTBNoBorders {
	border-bottom: none;
}

.sapMDialog > footer.sapMDialogActions {
	background-color: @sapHCStandardBG;
	border-top: 0.125rem solid  @sapHCStandardFG;
}

.sapMDialog > footer.sapMDialogActions {
	background-color: @sapUiFooterBG;
}

.sapMDialogResizeHandler {
	&:before {
		border-color: transparent transparent @sapHCStandardFG transparent;
	}

	&:hover:before {
		border-color: transparent transparent lighten(@sapHCStandardFG, 15%) transparent;
	}
}
