/* ==================================================== */
/* CSS for control sap.m/IconTabBar.control             */
/* High Contrast Black theme                            */

/* Head Container */

.sapMITBHead {
	display: block;
	font-size: @sapMFontSmallSize;
	margin: 1rem 2rem 0 2rem;
	overflow: hidden;
	padding: 0.125rem 0.125rem 0 0.125rem;
	position: relative;
	white-space: nowrap;
}

.sap-phone .sapMITBHead {
	display: inline-block;
	margin: 1rem 0 0;
	vertical-align: top;
	padding: 0;
}

.sap-tablet .sapMITBHead,
html[data-sap-ui-os=win8] .sapMITBHead {
	display: inline-block;
	margin: 1rem 0.75rem 0 0.25rem;
	vertical-align: top;
}

.sapMITBScrollContainer {
	display: block;
	margin: 0 1.5rem;
	/* the same padding as on the sapMITBHead is needed
	to correct the scrolling calculations*/
	padding: 0.125rem 0.125rem 0 0.125rem;
}

.sap-phone .sapMITBScrollContainer {
	margin: 0 1rem;
	padding: 0;
}

.sapMITBScrollContainer::-webkit-scrollbar {
	display: none;
}

.sap-tablet .sapMITBScrollContainer,
html[data-sap-ui-os=win8] .sapMITBScrollContainer {
	margin: 0 1.75rem;
}

/* scrollbar from iscroll should not be visible */
.sapMITBScrollContainer > div:nth-child(2) {
	visibility: hidden;
}

/* Arrow */

.sapMITBContentArrow {
	border-bottom: 0.25rem solid transparent;
	box-sizing: border-box;
	height: 1rem;
}

.sapMITBSelected > .sapMITBContentArrow {
	border-bottom-color: @sapHCStandardFG;
}

.sapMITBNoText > .sapMITBFilter > .sapMITBContentArrow {
	margin: 0 auto;
	width: 3rem;
}

.sapMITBNoText > .sapMITBFilter:first-child > .sapMITBContentArrow {
	margin: 0 auto 0 0;
}

.sapMITBVertical.sapMITBFilter > .sapMITBText + .sapMITBContentArrow {
	height: 0.6875rem;
}

.sapMITBTextOnly > .sapMITBFilter > .sapMITBText + .sapMITBContentArrow {
	border-bottom-width: 0.375rem;
	height: 0.875rem;
}

.sapMITBAll > .sapMITBTab {
	height: 3rem;
	margin-bottom: 1rem;
}

.sapMITBHorizontal.sapMITBAll > .sapMITBTab {
	margin-bottom: 0;
}

.sapMITBHorizontal.sapMITBFilter > .sapMITBContentArrow {
	width: 3rem;
}

html[dir='rtl'] .sapMITBContentArrow {
	z-index: 1;
}

/* Content Container */

.sapMITBContent {
	background-color: @sapHCStandardBG;
	padding: 1rem;
	position: relative;
}

.sap-phone .sapMITBContent {
	padding: 0;
}

.sapMITBContainerContent {
	border: 0.125rem solid @sapHCStandardFG;
	border-top: 0.125rem solid @sapHCStandardFG;
	margin-top: 0;
	padding: 0;
	position: relative;
}

.sap-phone .sapMITBContainerContent,
.sap-tablet .sapMITBContainerContent,
html[data-sap-ui-os=win8] .sapMITBContainerContent {
	margin-top: 0;
}

.sapMITBContainerContent.sapMITBContentClosed {
	background-color: transparent;
	border-bottom: none;
}

/* Tab Item */

.sapMITBTab {
	width: 5rem;
}

.sapMITBVertical > .sapMITBTab {
	height: 3rem;
	position: relative;
}

.sapMITBTextOnly .sapMITBTab {
	height: 1rem;
	margin-bottom: 0.1875rem;
	padding: 0;
	text-align: left;
	width: auto;
}

html[dir=rtl] .sapMITBTextOnly .sapMITBTab {
	text-align: right;
}

.sap-phone .sapMITBTextOnly .sapMITBTab {
	padding-right: 0.25rem;
}

.sapMITBItem {
	color: @sapHCStandardFG;
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
}

.sap-desktop .sapMITBFilter {
	cursor: pointer;
}

.sapMITBDisabled {
	opacity: 0.5;
}

/* Tab Filter Item */

.sapMITBFilter {
	margin: 0 0.25rem;
}

.sapMITBFilter:first-child {
	margin-left: 0;
}

.sapMITBNoText .sapMITBFilter > .sapMITBTab {
	margin: 0 0.75rem;
	width: 3rem;
}

.sapMITBNoText .sapMITBFilter:first-child > .sapMITBTab {
	margin-left: 0;
}

.sapMITBTextOnly .sapMITBFilter {
	margin: 0 1rem;
}

.sapMITBTextOnly .sapMITBFilter:first-child {
	margin-left: 0;
}

.sap-phone .sapMITBTextOnly .sapMITBFilter {
	margin: 0 0.5rem;
}

.sap-phone .sapMITBFilter {
	margin: 0 0.25rem;
}

.sap-phone .sapMITBFilter:first-child {
	margin-left: 0;
}

.sapMITBHorizontal.sapMITBFilter:first-child > .sapMITBTab {
	padding-left: 0;
}

.sapMITBHorizontal.sapMITBFilter:first-child > .sapMITBText {
	padding-left: 3.25rem;
}

.sapMITBFilter .sapMITBText {
	color: @sapHCStandardFG;
	line-height: 0.9375rem;
	overflow: hidden;
	padding: 0.375rem 0 0;
	position: relative;
	text-overflow: ellipsis;
	width: 5rem;
}

.sapMITBHorizontal.sapMITBFilter .sapMITBText {
	padding: 0.625rem 0 0;
}

.sapMITBVertical {
	height: 5rem;
}

.sapMITBTextOnly > .sapMITBVertical {
	height: 3.0625rem;
}

.sap-phone .sapMITBTextOnly > .sapMITBVertical {
	height: 2.9375rem;
}

.sapMITBNoText > .sapMITBVertical {
	height: 4rem;
}

.sapMITBHorizontalWrapper {
	display: inline-block;
	height: 3rem;
	left: -1rem;
	max-width: 7.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	width: auto;
}

.sapMITBHorizontal.sapMITBFilter > .sapMITBHorizontalWrapper > .sapMITBText {
	display: block;
	max-width: 7.5rem;
	padding-left: 0.25rem;
	text-align: left;
	top: 0.3125rem;
	width: auto;
}

.sapMITBHorizontal.sapMITBFilter {
	height: 4rem;
}

.sapMITBHorizontal.sapMITBFilter > .sapMITBHorizontalWrapper > .sapMITBCount {
	display: block;
	max-width: 7.5rem;
	padding-left: 0.25rem;
	position: relative;
	text-align: left;
	top: 0.4375rem;
}

.sapMITBHorizontal.sapMITBFilter > .sapMITBTab {
	display: inline-block;
	height: 3rem;
	padding: 0;
	vertical-align: top;
	width: 3rem;
}

.sapMITBTextOnly .sapMITBText {
	font-size: @sapMFontMediumSize;
	line-height: 1rem;
	margin: 0;
	padding: 0;
	text-align: left;
	width: auto;
}

.sap-phone .sapMITBTextOnly .sapMITBText {
	font-size: @sapMFontSmallSize;
}

.sapMITBTextOnly .sapMITBFilterDefault > .sapMITBText {
	color: @sapHCStandardFG;
}

.sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected > .sapMITBText {
	color: @sapHCStandardFG;
}

.sapMITBFilter .sapMITBCount {
	color: @sapHCStandardFG;
	max-width: 2rem;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
}

.sapMITBTextOnly .sapMITBFilter .sapMITBCount {
	color: @sapHCStandardFG;
	font-size: @sapMFontMediumSize;
	max-width: none;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}

.sap-phone .sapMITBTextOnly .sapMITBFilter .sapMITBCount {
	font-size: @sapMFontMediumSize;
}

.sapMITBFilterIcon {
	background: @sapHCStandardBG;
	border: 1px solid @sapHCStandardFG;
	border-bottom-left-radius: 3rem;
	border-bottom-right-radius: 3rem;
	-moz-border-radius: 3rem;
	border-top-left-radius: 3rem;
	/* some native browsers like Samsung Galaxy S4 with Android 4.2 does not support the "border-
	radius" shorthand property but does support the long-hand properties for each corner like
	"border-top-left-radius" */
	border-top-right-radius: 3rem;
	box-sizing: border-box;
	display: inline-block;
	font-size: 1.5rem;
	height: 3rem;
	line-height: 2.75rem;
	overflow: hidden;
	width: 3rem;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.sapMITBFilterNoIcon {
	display: inline-block;
	height: 3rem;
	vertical-align: middle;
	width: 3rem;
}

.sapMITBFilterDefault {
	color: @sapHCStandardFG;
}

.sapMITBCount {
	color: @sapHCStandardFG;
}

.sapMITBSelected .sapMITBFilterIcon {
	background: @sapHCHighlightAltBG;
	color: @sapHCStandardFG;
}

/* Tab Filter Show All Item */

.sapMITBAll .sapMITBTab {
	display: inline-block;
	height: 3rem;
	line-height: 3rem;
	width: auto;
}

.sapMITBAll {
	margin-right: 1.25rem;
}

.sap-phone .sapMITBAll {
	margin-right: 0.25rem;
}

.sapMITBAll .sapMITBCount {
	color: @sapHCStandardFG;
	display: inline-block;
	font-size: 1.5rem;
	padding: 0 0.5rem;
	vertical-align: middle;
	width: auto;
}

.sap-phone .sapMITBAll > .sapMITBTab > .sapMITBCount {
	padding: 0 0.25rem;
}

.sapMITBAll:first-Child > .sapMITBTab > .sapMITBCount {
	padding-left: 0;
}

.sapMITBAll .sapMITBText {
	color: @sapHCStandardFG;
	display: inline-block;
	max-height: 3rem;
	max-width: 4rem;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: normal;
	width: auto;
}

.sap-phone .sapMITBAll .sapMITBText {
	padding-right: 0.5rem;
}

.sap-phone .sapMITBFilter:last-child,
.sap-tablet .sapMITBFilter:last-child,
html[data-sap-ui-os=win8] .sapMITBFilter:last-child,
.sap-phone .sapMITBNoText .sapMITBFilter:last-child,
.sap-tablet .sapMITBNoText .sapMITBFilter:last-child,
html[data-sap-ui-os=win8] .sapMITBNoText .sapMITBFilter:last-child {
	padding-right: 1rem;
}

/* Tab Separator Item */
.sapMITBSep {
	width: 1.5rem;
}

.sapMITBSepLine {
	border: 1px solid @sapHCStandardFG;
	height: 3rem;
	margin: 0 0.25rem;
	width: 0;
}

.sap-phone .sapMITBSepLine {
	margin: 0 0.125rem;
}

.sapMITBSepIcon {
	color: @sapHCStandardFG;
	font-size: 1rem;
	height: 3rem;
	line-height: 3rem;
	padding: 0 0.25rem;
}

.sapMITBHorizontal + .sapMITBSep {
	width: auto;
}

.sapMITBHorizontal + .sapMITBSep > .sapMITBSepIcon {
	padding: 0 0.5rem;
}

.sapMITBArrowScroll {
	color: @sapHCStandardFG;
	cursor: pointer;
	font-size: 1rem;
	position: absolute;
	top: 1px;
}

.sap-phone .sapMITBArrowScroll,
.sap-tablet .sapMITBArrowScroll,
html[data-sap-ui-os=win8] .sapMITBArrowScroll {
	top: 1rem;
}

.sapMITBArrowScrollLeft {
	left: 0.25rem;
	padding: 1rem 0.4rem;
}

.sapMITBArrowScrollRight {
	padding: 1rem 0.4rem;
	right: 0.25rem;
}

.sapMITBArrowScrollLeftTextOnly {
	left: 0.25rem;
	padding: 1rem 0.4rem;
}

.sapMITBArrowScrollRightTextOnly {
	padding: 1rem 0.4rem;
	right: 0.25rem;
}

.sap-phone .sapMITBArrowScrollLeft {
	left: 0.25rem;
	padding: 1rem 0;
}

.sap-phone .sapMITBArrowScrollRight {
	padding: 1rem 0;
	right: 0.25rem;
}

.sap-phone .sapMITBArrowScrollLeftTextOnly {
	left: 0.25rem;
	padding: 1.25rem 0 0.75rem;
}

.sap-phone .sapMITBArrowScrollRightTextOnly {
	padding: 1.25rem 0 0.75rem;
	right: 0.25rem;
}

.sapMITBNotScrollable > .sapMITBArrowScroll {
	visibility: hidden;
}

.sapMITBScrollable.sapMITBNoScrollBack > .sapMITBArrowScrollLeft,
.sapMITBScrollable.sapMITBNoScrollBack > .sapMITBArrowScrollLeftTextOnly,
.sapMITBScrollable.sapMITBNoScrollForward > .sapMITBArrowScrollRight,
.sapMITBScrollable.sapMITBNoScrollForward > .sapMITBArrowScrollRightTextOnly {
	visibility: hidden;
}

.sapMITBArrowScroll:focus,
.sapMITBHead:focus,
.sapMITBFilterIcon:focus,
.sapMITBItem:focus {
	outline: none;
}

/* Custom focus outline */
.sap-desktop .sapMITBItem:focus .sapMITBFilterIcon,
.sap-desktop .sapMITBTextOnly .sapMITBItem:focus .sapMITBText,
.sap-desktop .sapMITBItem:focus.sapMITBAll {
	outline: 0.125rem dotted @sapHCStandardFG;
}

/* HCB Additional Styles */

.sapMITBFilterPositive .sapMITBText:before,
.sapMITBFilterNegative .sapMITBText:before,
.sapMITBFilterCritical .sapMITBText:before,
.sapMITBVertical.sapMITBFilterPositive > .sapMITBTab:after,
.sapMITBVertical.sapMITBFilterNegative > .sapMITBTab:after,
.sapMITBVertical.sapMITBFilterCritical > .sapMITBTab:after {
	font-family: 'SAP-icons';
	font-size: 0.75rem;
	margin-right: 0.5rem;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.sapMITBHorizontal.sapMITBFilterPositive .sapMITBText:before,
.sapMITBTextOnly .sapMITBFilterPositive .sapMITBText:before,
.sapMITBVertical.sapMITBFilterPositive > .sapMITBTab:after {
	color: @sapHCPositive;
	content: "\e1ab";
}

.sapMITBHorizontal.sapMITBFilterNegative .sapMITBText:before,
.sapMITBTextOnly .sapMITBFilterNegative .sapMITBText:before,
.sapMITBVertical.sapMITBFilterNegative > .sapMITBTab:after {
	color: @sapHCNegative;
	content: "\e1ac";
}

.sapMITBHorizontal.sapMITBFilterCritical .sapMITBText:before,
.sapMITBTextOnly .sapMITBFilterCritical .sapMITBText:before,
.sapMITBVertical.sapMITBFilterCritical > .sapMITBTab:after {
	color: @sapHCCritical;
	content: "\e1ae";
}

.sapMITBVertical.sapMITBFilterPositive > .sapMITBTab:after,
.sapMITBVertical.sapMITBFilterNegative > .sapMITBTab:after,
.sapMITBVertical.sapMITBFilterCritical > .sapMITBTab:after {
	bottom: 0;
	margin-right: -1rem;
	position: absolute;
}

.sapMITBTextOnly .sapMITBTab:after {
	display: none;
}

.sapMITBTextOnly .sapMITBFilterPositive .sapMITBCount,
.sapMITBTextOnly .sapMITBFilterNegative .sapMITBCount,
.sapMITBTextOnly .sapMITBFilterCritical .sapMITBCount {
	margin-left: 1.25rem;
}

.sapMITBHorizontal.sapMITBFilterPositive .sapMITBText:before,
.sapMITBHorizontal.sapMITBFilterNegative .sapMITBText:before,
.sapMITBHorizontal.sapMITBFilterCritical .sapMITBText:before {
	margin-right: 0.25rem;
}

/* overrides responsive settings */
@media (max-width:599px) {
	.sapMITB.sapUiNoContentPadding,
	.sapMITB.sapUiResponsiveContentPadding {
		.sapMITBHead {
			margin: 1rem 1rem 0 1rem;
		}

		.sapMITBScrollContainer {
			margin: 0 1rem;
		}

		.sapMITBArrowScrollLeft {
			left: 0.25rem;
			padding: 1rem 0;
		}

		.sapMITBArrowScrollRight {
			padding: 1rem 0;
			right: 0.25rem;
		}

		.sapMITBArrowScrollLeftTextOnly {
			left: 0.25rem;
			padding: 1.25rem 0 0.75rem;
		}

		.sapMITBArrowScrollRightTextOnly {
			padding: 1.25rem 0 0.75rem;
			right: 0.25rem;
		}
	}

	html[data-sap-ui-os=win8] .sapMITB.sapUiNoContentPadding,
	html[data-sap-ui-os=win8] .sapMITB.sapUiResponsiveContentPadding {
		.sapMITBHead {
			margin: 1rem 1rem 0 0;
		}
	}
}
