.sapMMsgPopover {
	.sapMMsgPopoverTitleText {
		font-size: @sapMFontHeader4Size;
	}

	.sapMMsgPopoverDescriptionText,
	.markupDescription {
		font-size: @sapMFontMediumSize;
	}
}

.sapUiSizeCompact.sapMMsgPopover {
	.sapMMsgPopoverTitleText {
		font-size: @sapMFontMediumSize;
	}
}
