
/* ========================================== */
/* CSS for control sap.m/ObjectNumber.control */
/* ========================================== */

.sapMObjectNumberUnit {
	font-size: @sapMFontSmallSize;
}

.sapMLIBActive .sapMObjectNumber {
	color: @sapHCStandardFG;
}

.sapMObjectNumberStatusNone {
	color: @sapHCNeutral;
}

.sapMObjectNumberStatusError {
	color: @sapHCNegative;
}

.sapMObjectNumberStatusWarning {
	color: @sapHCCritical;
}

.sapMObjectNumberStatusSuccess {
	color: @sapHCPositive;
}
