.sap-phone, {
  .sapMOTAPopover {

	&.sapMOTAPopoverNoShadowTop {
	  -webkit-box-shadow: 0 1rem 2.5rem 0.125rem fade(@sapHCStandardFG, 80%);
	  -moz-box-shadow: 0 1rem 2.5rem 0.125rem fade(@sapHCStandardFG, 80%);
	  box-shadow: 0 1rem 2.5rem 0.125rem fade(@sapHCStandardFG, 80%);
	}

	&.sapMOTAPopoverNoShadowBottom {
	  -webkit-box-shadow: 0 -1rem 2.5rem 0.125rem fade(@sapHCStandardFG, 80%);
	  -moz-box-shadow: 0 -1rem 2.5rem 0.125rem fade(@sapHCStandardFG, 80%);
	  box-shadow: 0 -1rem 2.5rem 0.125rem fade(@sapHCStandardFG, 80%);
	}

  }
}
