/* ================================================= */
/* CSS for control sap.m.QuickView */
/* ================================================= */

.sap-desktop .sapMQuickViewPage.sapMPage > header,
.sap-tablet .sapMQuickViewPage.sapMPage > header {
	font-size: @sapMFontHeader5Size;
}

.sap-desktop .sapUiSizeCompact .sapMQuickViewPage.sapMPage > header .sapMTitle,
.sap-tablet .sapUiSizeCompact .sapMQuickViewPage.sapMPage > header .sapMTitle {
	font-size: @sapMFontHeader6Size;
}

.sapMQuickViewPage h1,
.sapMQuickViewPage .sapUiForm .sapUiFormTitle {
	font-size: @sapMFontHeader3Size;
	font-weight: @sapUiFontHeaderWeight;
	line-height: normal;
	color: @sapHCStandardFG;
	padding-left: 0;
}

.sapMQuickViewPage .sapUiVltCell .sapMLnk {
	font-size: @sapMFontHeader3Size;
	font-weight: @sapUiFontHeaderWeight;
	line-height: normal;
	white-space: normal;
}

.sapMQuickViewPage .sapUiHLayout .sapUiIcon {
	background-color: @sapHCStandardBG;
	color: @sapHCReducedAltFG;
	box-sizing: border-box;
	border: 0.0625rem solid @sapHCReducedAltFG;
	border-radius: 0;
}

.sapMQuickViewPage .sapUiVlt .sapMText {
	font-size: @sapMFontMediumSize;
	color: @sapHCStandardFG;
}

.sapMQuickViewPage .sapUiIcon:focus,
.sap-phone .sapMQuickViewPage .sapMLnk:focus,
.sap-tablet .sapMQuickViewPage .sapMLnk:focus{
  outline: none;
}

.sap-desktop .sapMQuickViewPage .sapUiIcon:focus {
	outline: 0.125rem dotted @sapHCStandardFG;
	outline-offset: -0.125rem;
}
