/* ===================================================================*/
/* CSS for control sap.m/SelectList.control High Contrast Black theme */
/* ================================================================== */

/* ====================================================== */
/* Select List                                            */
/* ====================================================== */

/* ------------------------------ */
/* list                           */
/* ------------------------------ */

.sapMSelectList {
	background: @sapHCStandardBG;
}

/* ------------------------------ */
/* item                           */
/* ------------------------------ */

.sapMSelectListItemBase {
	font-size: @sapMFontMediumSize;
	height: 2.5rem;
	cursor: pointer;
	border-bottom: 0.0625rem @sapHCReducedAltFG solid;
}

.sapMSelectListItem {
	padding: 0 1rem 0 1rem;
	line-height: 2.5rem;
}

/* selected */

.sapMSelectListItemBaseSelected {
	background: @sapHCHighlightAltBG;
}

/* hover */

.sapMSelectListItemBaseHoverable:hover {
	background: @sapHCHighlightBG;
}

/* pressed */

.sapMSelectListItemBase.sapMSelectListItemBasePressed {
	color: @sapHCStandardFG;
	background: @sapHCHighlightBG;
}

/* disabled */

.sapMSelectListItemBaseDisabled {
	opacity: 0.5;
	color: @sapHCReducedFG;
}

/* focus */

.sap-desktop li.sapMSelectListItemBase:focus {
	outline: 0.125rem dotted @sapHCStandardFG;
	outline-offset: -0.125rem;
}

/* IE does not support css outline-offset */

html[data-sap-ui-browser^="ie"].sap-desktop li.sapMSelectListItemBase:focus {
		outline: none;
		position: relative;
}

html[data-sap-ui-browser^="ie"].sap-desktop li.sapMSelectListItemBase:focus::before {
		content: "";
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border: 0.125rem dotted @sapHCStandardFG;
}

/* ------------------------------ */
/* cell                           */
/* ------------------------------ */

.sapMSelectListCell {
	padding-left: 1rem;
}

.sapMSelectListLastCell {
	padding-right: 1rem;
}

/* ------------------------------ */
/* separator                      */
/* ------------------------------ */

.sapMSelectListSeparatorItem {
	border: 1px solid @sapHCStandardFG;
}

/* compact size  */

/* ------------------------------ */
/* commons styles                 */
/* ------------------------------ */

.sapUiSizeCompact .sapMSelectListItemBase {
	height: 2rem;
}

.sapUiSizeCompact .sapMSelectListItem {
	line-height: 2rem;
}