/* =========================================== */
/* CSS for control sap.m/Token.control ======= */
/* High Contrast Black theme ================= */
/* =========================================== */

.sapMToken {
	font-size: @sapMFontMediumSize;
	background: @sapHCStandardBG;
	border: 0.0625rem solid @sapHCStandardFG;
	border-radius: 0.125rem;
	color: @sapHCStandardFG;
	padding-left: 0.375rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	height: 1.625rem;
}

.sapMToken.sapMTokenReadOnly {
	padding: 0.25rem 0.375rem;
}

.sapMToken:focus {
	outline: none;
}

.sapMTokenSelected, .sapMToken:focus {
	color: @sapHCStandardFG;
	background: @sapHCHighlightAltBG;
}

.sap-desktop .sapMToken:hover {
	background: @sapHCHighlightBG;
}

.sapMTokenSelected .sapMTokenIcon, .sapMToken:focus .sapMTokenIcon {
	color: @sapHCStandardFG;
}

.sapMTokenIcon {
	padding: 0.25rem 0.375rem;
	font-size: @sapMFontLargeSize;
	color: @sapHCStandardFG;
	vertical-align: middle;
}

.sapMToken.sapMTokenActive {
	background: @sapHCHighlightBG;
}

.sapUiSizeCompact .sapMToken {
	padding-left: 0.25rem;
	padding-bottom: 0.1rem;
	height: 1.25rem;
}

.sapUiSizeCompact .sapMToken.sapMTokenReadOnly {
	padding: 0.1rem 0.25rem;
}

.sapUiSizeCompact .sapMTokenIcon {
	font-size: @sapMFontSmallSize;
	padding: 0.1rem 0.25rem;
	vertical-align: baseline;
}

.sapUiSizeCompact .sapMListTbl .sapMToken .sapUiIcon:not(.sapMLIBImgNav) {
	font-size: 0.75rem;
}

