.sapMWizardProgressNav {
	background: @sapHCStandardBG;
	border-color: @sapHCStandardFG;
}

.sapMWizardProgressNavAnchor {
	color: @sapHCStandardFG;
	background: @sapHCStandardBG;
	border-color: @sapHCStandardFG;

	&:hover {
		background: @sapHCHighlightBG;
	}

	&:focus {
		outline: 2px dotted @sapHCStandardFG;
	}
}

.sapMWizardProgressNavSeparator::after {
	border-color: @sapHCStandardFG;
}

.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] {
	&::after {
		background: @sapHCStandardFG;

		/* in HCB the underline should equal a total ot 0.1875rem (0.125rem + 1px (= 0.0625rem)) */
		bottom: ((@listHeight - @navHeight) / 2)  + 0.0625rem;
	}

	& > .sapMWizardProgressNavAnchor {
		color: @sapHCStandardFG;
		background: @sapHCHighlightAltBG;
	}
}

.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"] {

	/* anchors in all steps after the active one have inactive style */
	& ~ .sapMWizardProgressNavStep > .sapMWizardProgressNavAnchor {
		color: @sapHCReducedAltFG;
		background: @sapHCReducedBG;
		border-color: @sapHCReducedAltFG;
	}

	/* all separators after the active step have inactive style */
	& ~ .sapMWizardProgressNavSeparator::after {
		border-color: @sapHCReducedAltFG;
	}
}
