<section class="todoapp">
    <todo-header></todo-header>
    <section class="main" *ngIf="getTodos().length">
        <input class="toggle-all" type="checkbox" #toggleall [checked]="allCompleted()" (click)="setAllTo(toggleall)">
        <ul class="todo-list">
            <todo-item *ngFor="#todo of getTodos()" [todo]="todo" (itemRemoved)="remove($event)" (itemModified)="update($event)"></todo-item>
        </ul>
    </section>
    <todo-footer></todo-footer>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="http://github.com/blacksonic">Soós Gábor</a> using <a href="http://angular.io">Angular2</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>