!!! 5
html
  head
    title= title
    block styles

  body
    block content

    script(type="text/javascript", src="/javascripts/vendor/jquery-1.7.2.min.js")
    script(type="text/javascript", src="/javascripts/vendor/underscore-min.js")
    script(type="text/javascript", src="/javascripts/vendor/backbone-min.js")
    block bodyscripts