<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>JavaScriptMVC • TodoMVC</title>
		<!--[if IE]>
		<script src="../../assets/ie.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="todos">
			<h1>todos</h1>
			<div class="content">
				<input type="text" class="create" placeholder="What needs to be done?">
			</div>
			<ul id="list"></ul>
			<div id="todo-stats"></div>
		</div>
		<ul id="instructions">
		  <li>Double-click to edit a todo.</li>
		</ul>
		<div id="credits">
			Created by <a href="http://javascriptmvc.com/">Justin Meyer</a>
			<br />Fixes, updates, stylistic changes: <a href="http://addyosmani.com">Addy Osmani</a>
		 </div>
		<script src="../../assets/base.js"></script>
		<script type='text/ejs' id='todosEJS'>
			<% for(var i =0; i < this.length ; i++){ %>
				<li <%= this[i]%>>
				<%= $.View('todoEJS',this[i] ) %>
				</li>
			<% } %>
		</script>
		<script type='text/ejs' id='todoEJS'>
			<input type='checkbox' name='complete'
				<%= this.complete ? "checked" : "" %>>
			<span class=''><%= (this.text || "empty todo ...")%></span>
			<span class='todestroy'></span>
		</script>
		<script type='text/ejs' id='statsEJS'>
			<% if (total) { %>
				<span class="todo-count">
				  <span class="number"><%= remaining %></span>
				  <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
				</span>
		   <% } %>
		   <% if (completed) { %>
				<span class="todo-clear">
				  <a href="#">
					Clear <span class="number-done"><%= completed %></span>
					completed <span class="word-done"><%= completed == 1 ? 'item' : 'items' %></span>
				  </a>
				</span>
		   <% } %>
		</script>
		<script src="../../steal/steal.production.js?todo/todo"></script>
	</body>
</html>