<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title>JavaScriptMVC</title>
	</head>
	<body>
	    <div id='todos'>
    		<h1>todos</h1>
			<input type='text' class='create'/>
			<ul id='list'></ul>
			<div id='todo-stats'>
				
			</div>
	    </div>
		
		<script type='text/ejs' id='todosEJS'>
			<% for(var i =0; i < this.length ; i++){ %>
				<li <%= this[i]%>>
				<%= $.View('todoEJS',this[i] ) %>
				</li>
			<% } %>
		</script>
		<script type='text/ejs' id='todoEJS'>
			<input type='checkbox' name='complete' 
				<%= this.complete ? "checked" : "" %>>
			<span class=''><%= (this.text || "empty todo ...")%></span>
			<span class='destroy'></span>
		</script>
		<script type='text/ejs' id='statsEJS'>
			<% if (total) { %>
		        <span class="todo-count">
		          <span class="number"><%= remaining %></span>
		          <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
		        </span>
		   <% } %>
		   <% if (completed) { %>
		        <span class="todo-clear">
		          <a href="#">
		            Clear <span class="number-done"><%= completed %></span>
		            completed <span class="word-done"><%= completed == 1 ? 'item' : 'items' %></span>
		          </a>
		        </span>
		   <% } %>

		</script>
		<script type='text/javascript' 
                src='../steal/steal.js?todo,development'>   
        </script>
	</body>
</html>