/* ===================================================== */
/* CSS for control sap.ui.layout/form/FormLayout.control */
/* SAP-HCB Theme                                         */
/* ===================================================== */

@sapUiFormTitleSize: ~"H4";
@sapUiFormSubTitleSize: ~"H3";

.sapUiFormLayout{
	font-size: @sapUiDesktopFontSize;
}

.sapUiForm .sapUiFormTitle{
	border-width: 3px;
	box-sizing: border-box;
	font-weight: @sapUiFontHeaderWeight;
	color: @sapHCStandardFG;
}

.sapUiFormTitle.sapUiFormTitleEmph{
	border-color: @sapHCStandardFG;
}

/* Title levels - use m-parameter for HCB */
.sapUiFormTitleH1 {
	font-size: @sapMFontHeader1Size;
}

.sapUiFormTitleH2 {
	font-size: @sapMFontHeader2Size;
}

.sapUiFormTitleH3 {
	font-size: @sapMFontHeader3Size;
}

.sapUiFormTitleH4 {
	font-size: @sapMFontHeader4Size;
}

.sapUiFormTitleH5 {
	font-size: @sapMFontHeader5Size;
}

.sapUiFormTitleH6 {
	font-size: @sapMFontHeader6Size;
}