<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SocketStream Todo</title>
  </head>
  <body>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <input id="new-todo" type="text" placeholder="What needs to be done?">
      </header>
      <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list"></ul>
      </section>
    <footer id="footer" style="display: none;">
    </footer>
  </section>
  <footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Template by <a href="http://sindresorhus.com" data-bitly-type="bitly_hover_card">Sindre Sorhus</a></p>
    <p>Created by <a href="http://www.dennis.is/" data-bitly-type="bitly_hover_card">Dennis Mårtensson</a>.</p>
    <p>Part of <a href="http://todomvc.com" data-bitly-type="bitly_hover_card">TodoMVC</a></p>
  </footer>
    </div>
  </body>
</html>