[mol_app_todomvc] {
	align-self: stretch;
	width: 100%;
	background-color: #f5f5f5;
	margin: 0;
}

[mol_app_todomvc] [mol_string] ,
[mol_app_todomvc] [mol_string]:focus ,
[mol_app_todomvc] [mol_string]:hover ,
[mol_app_todomvc] [mol_button] ,
[mol_app_todomvc] [mol_button]:focus ,
[mol_app_todomvc] [mol_button]:hover ,
[mol_app_todomvc] [mol_link] ,
[mol_app_todomvc] [mol_link]:focus ,
[mol_app_todomvc] [mol_link]:hover {
	box-shadow: none;
	background-color: transparent;
}

[mol_app_todomvc] [mol_link_current] {
	color: black;
}

[mol_app_todomvc] [mol_link]:not([mol_link_current]):hover ,
[mol_app_todomvc] [mol_link]:not([mol_link_current]):focus {
	text-decoration: underline;
}

[mol_app_todomvc_head_complete] {
	flex: 0 0 4rem;
	transform: rotate( 90deg );
	opacity: .5;
	padding: 0;
	justify-content: center;
}
[mol_app_todomvc_head_complete]:disabled {
	visibility: hidden;
}
[mol_app_todomvc_head_complete][mol_check_checked] {
	opacity: 1;
}

[mol_app_todomvc_add] {
	padding: 0;
	flex: 1 1 auto;
}

[mol_app_todomvc_list] {
	font-size: 1.5rem;
}

[mol_app_todomvc_page] {
	flex: 1 1 auto;
}

[mol_app_todomvc_panel] {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	max-width: 38rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 0 auto 2rem;
	transition: none;
}

[mol_app_todomvc_head] {
	font-size: 1.5rem;
	padding: 0;
	display: flex;
	height: 4rem;
}

[mol_app_todomvc_title] {
	display: block;
	padding: .25rem;
	font-size: 7rem;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	text-rendering: optimizeLegibility;
	text-transform: lowercase;
}

[mol_app_todomvc_task_row] {
	display: flex;
	background-color: white;
	box-shadow: 0 -1px 0 0 #ededed;
	height: 4rem;
}

[mol_app_todomvc_task_row_complete] {
	flex: 0 0 4rem;
	padding: 1rem;
	background: no-repeat center center url('mol/app/todomvc/todomvc_active.svg');
}
[mol_app_todomvc_task_row_complete][mol_check_checked] {
	background: no-repeat center center url('mol/app/todomvc/todomvc_completed.svg');
}

[mol_app_todomvc_task_row_title] {
	padding: 0;
	flex: 1 1 auto;
}

[mol_app_todomvc_task_row_completed] [mol_app_todomvc_task_row_title] {
	color: #d9d9d9;
	text-decoration: line-through;
}

[mol_app_todomvc_task_row_drop] {
	font-size: 1.25rem;
	flex:  0 04rem;
}
[mol_app_todomvc_task_row]:not(:hover) [mol_app_todomvc_task_row_drop]:not(:focus) {
	opacity: 0;
	color: #cc9a9a;
}

[mol_app_todomvc_foot] {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding: .5rem 1rem;
	color: #777;
	font-size: .85rem;
	border-top: 1px solid #ededed;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

[mol_app_todomvc_pending] {
	padding: .25rem;
	flex: 0 1 6rem;
}

[mol_app_todomvc_filter] {
	flex: 1 100 auto;
	display: flex;
	justify-content: center;
	margin: .25rem;
	box-shadow: none;
}

[mol_app_todomvc_sweep] {
	flex: 0 1 auto;
	padding: .25rem;
}
[mol_app_todomvc_sweep][disabled] {
	visibility: hidden;
}

[mol_app_todomvc_sweep]:hover ,
[mol_app_todomvc_sweep]:focus {
	text-decoration: underline;
}
