<div class="view">
	<input class="toggle" type="checkbox" <%= (this.completed) ? "checked" : "" %>>
	<label><%= this.title %></label>
	<button class="destroy"></button>
</div>
<input class="edit" value="<%= this.title %>">