<span id="todo-count">
	<strong><%= this.remaining %></strong> <%= (this.remaining > 1) ? "items" : "item" %> left</span>
<ul id="filters">
	<li>
		<a class="selected" href="#!/">All</a>
	</li>
	<li>
		<a href="#!/active">Active</a>
	</li>
	<li>
		<a href="#!/completed">Completed</a>
	</li>
</ul>
<% if(this.completed > 0) { %>
	<button id="clear-completed">Clear completed (<%= this.completed %>)</button>
<% } %>