#todo-list li .toggle.dijitChecked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
}


/* When checkbox is selected, score through todo item content */
.dijitCheckBoxChecked + .todo-content {
    color: #666;
    text-decoration: line-through;
}

/* When checkbox is selected, score through todo item content after an edit */
.dijitCheckBoxChecked + .dijitInline + .todo-content {
    color: #666;
    text-decoration: line-through;
}

.claro .dijitCheckBox, .claro .dijitCheckBoxIcon {
    background-image: none;
}

/* Need to have the background-image on IE */
.dj_ie .claro .dijitCheckBox, .claro .dijitCheckBoxIcon {
    background-image: url("form/images/checkboxRadioButtonStates.png");
}

#todo-list .dijitCheckBoxInput {
    opacity: 0;
    position: absolute;
    top: 14px;
    z-index: 10;
}
