/* ============================================= */
/* CSS for control sap.m.BusyScreen              */
/* ============================================= */

//this selectors need to be more specific from the Dialog's
.sapMBusyDialog.sapMDialog {
	min-width: 18.75rem !important;
	text-align: center;
	width: 18.75rem !important;

	.sapMBusyIndicator {
		margin: 1em;
	}

	&.sapUiPopupWithPadding .sapMDialogScrollCont {
		padding: 0 !important;
	}

	.sapMDialogSection {
		overflow: hidden !important;
	}

	&.sapMBusyDialog-Light {
		//lightBusyDialog
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		background: transparent;
		border: none;

		.sapMDialogSection {
			background: transparent;
		}
	}
}

.sapMLabel.sapMBusyDialogLabel {
	display: block;
	font-size: 1rem;
	line-height: 1.5em;
	margin: 1rem 1rem 0;
	text-align: center !important;
	white-space: normal;
}

// compact sizing
.sapUiSizeCompact .sapMBusyDialog {
	.sapMBusyDialogLabel {
		margin-top: 0.5rem;
	}

	.sapMBusyIndicator {
		margin: 0.5rem;
	}
}
