
/* ============================================= */
/* CSS for control sap.m/CheckBox.control */
/* ============================================= */

.sapMCb {
	display: inline-block;
	position: relative;
}

.sapMCb .sapMLabel {
	cursor: default;
}

.sapMCbBg {
	height: 2rem;
	width: 2rem;
	position: relative;
	display: inline-block;
	top: 0.7rem;
}

.sapMCbBg > .sapMCbMark,
.sapMCbBg.sapMCbMark > input{
	font-size: inherit;
}
