/* ============================================= */
/* CSS for control sap.m/CustomTile.control */
/* ============================================= */

/* Style for Tablet/Desktop */
.sapMCustomTile
{
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: transform3d;
	-webkit-transition-duration: 0.2s;
	transition-property: transform3d;
	transition-duration: 0.2s;
	width: 13em;
	height: 15em;
	margin:0em;
} 

.sapMCustomTileContent {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.sap-phone .sapMCustomTile {
	width: 9.5em;
	height: 11em;
	margin: 0em;
}