/* ============================================= */
/* CSS for controlsap.m/GroupHeaderListItem		 */
/* ============================================= */

.sapMGHLI .sapMLIBSelectM,
.sapMGHLI .sapMLIBSelectS,
.sapMGHLI .sapMLIBSelectD,
.sapMGHLI .sapMListTblSelCol{
	display: none;
}

.sapMGHLI .sapMLIBUnread,
.sapMGHLI .sapMListTblUnreadCol{
	display: none;
}

.sapMGHLIUpperCase{
	text-transform: uppercase;
}

.sapMGHLI .sapMLIBContent {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}