
/* ============================================= */
/* CSS for control sap.m/ObjectNumber.control */
/* ============================================= */

.sapMObjectNumber {
	display: block;
	white-space: normal;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
	color: @sapUiDarkText;
}

.sapMObjectNumberText {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	vertical-align: middle;
}

.sapMObjectNumberEmph > .sapMObjectNumberText {
	font-weight: bold;
}

.sapMObjectNumberUnit {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	vertical-align: middle;
	padding-top: 0.125rem;
}
