/* =============================================================== */
/* CSS for control sap.m/OverflowToolbarAssociativePopover.control */
/* =============================================================== */

.sapMOTAPopover {

  &:focus{
	outline: none;
  }

  &.sapMOTAPButtonsWithIcons {
	.sapMOTAPButtonNoIcon {
	  &> .sapMBtnInner > span.sapMBtnContent {
		margin-left: 1.625rem;
	  }
	}
  }

  &.sapMPopover .sapMPopoverCont .sapMPopoverScroll {
	padding: 1rem;

	/* Disappear */
	&> .sapMOTAPHidden {
	  display: none;
	}

	/* All elements inside must have display block */
	&> :not(.sapMOTAPHidden) {
	  display: block;
	}

	/* Button, ToggleButton, OverflowToolbarButton */
	&> button.sapMBtn {
	  width: 100% !important;
	  max-width: 100% !important;

	  /* Button alignment */
	  &> .sapMBtnInner {
		text-align: start;
	  }
	}

	/* Select */
	&> div.sapMSlt {
	  width: auto !important;
	}

	/* SegmentedButton - select form */
	&> div.sapMSegBSelectWrapper {
	  width: 100%;
	  &> div.sapMSlt {
		width: 100% !important;
		max-width: 100% !important;
	  }
	}

	/* ComboBox */
	&> div.sapMComboBox {
	  width: auto !important;
	  max-width: auto !important;
	}

	/* SearchField */
	&> div.sapMSF {
	  width: 100% !important;
	  max-width: 100% !important;
	}

	/* Input */
	&> div.sapMInput {
	  width: 100% !important;
	  max-width: 100% !important;
	}

	/* DateTimeInput */
	&> div.sapMDTI {
	  width: 100% !important;
	  max-width: 100% !important;
	}

  }
}

html[data-sap-ui-browser^="ie"] .sapMOTAPopover.sapMPopover .sapMPopoverCont .sapMPopoverScroll > button.sapMBtn > .sapMBtnInner,
html[data-sap-ui-browser^="ed"] .sapMOTAPopover.sapMPopover .sapMPopoverCont .sapMPopoverScroll > button.sapMBtn > .sapMBtnInner {
  text-align: left;
}

html[dir=rtl][data-sap-ui-browser^="ie"] .sapMOTAPopover.sapMPopover .sapMPopoverCont .sapMPopoverScroll > button.sapMBtn > .sapMBtnInner,
html[dir=rtl][data-sap-ui-browser^="ed"] .sapMOTAPopover.sapMPopover .sapMPopoverCont .sapMPopoverScroll > button.sapMBtn > .sapMBtnInner {
  text-align: right;
}

/* Compact mode overrides */
.sapUiSizeCompact{

  .sapMOTAPopover {

	&.sapMPopover .sapMPopoverCont .sapMPopoverScroll {
	  padding: 0.25rem;
	}
  }

}

/* Phone mode overrides */
.sap-phone, {
	.sapMOTAPopover {
	  overflow: hidden !important;
	}
}