
/* ============================================= */
/* CSS for control sap.m/P13nDialog.control */
/* ============================================= */

.sapMP13nDialog{
  color: @sapUiTextColor;
  border: 1px solid blue;
}

.sapMP13nDialog .sapMITBHead{
	margin : 0rem;
}