
/* ============================================= */
/* CSS for control sap.m/ProgressIndicator.control */
/* ============================================= */

.sapMPI {
	box-sizing: border-box;
	border: 1px solid @sapUiFieldBorderColor;
	padding: 1px;
	margin: 0.25rem 0;
}

.sapMPIBar {
	height: 100%;
	float: left;
}

.sapMPIBarDisabled {
	opacity: 0.5;
}

.sapMPIText {
	font-size: 0.75rem;
	color: @sapUiContentLabelColor;
}

.sapMPITextLeft {
	color: @sapUiContentContrastTextColor;
	display: none;
	float: right;
	padding-right: 0.5rem;
}

.sapMPITextRight {
	display:block;
	float: left;
	padding-left: 0.5rem;
}

.sapMPIValueGreaterHalf .sapMPITextRight {
	display: none;
}

.sapMPIValueGreaterHalf .sapMPITextLeft {
	display: block;
}

.sapMPIAnimate .sapMPIText {
	display: none;
}