/* ============================================= */
/* CSS base theme for control sap.m/StandardTile.control */
/* ============================================= */

.sapMStdTileTopRow {
	height: 4rem;
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 1rem;
}

.sapMStdTileIconDiv {
	display: inline-block;	
	float: left;
}

.sapMStdTileNumDiv {
	display: inline-block;
	float: right;
	width: 7.5rem;
	height: 4rem;
}

.sapMStdTileNum,
.sapMStdTileNumM,
.sapMStdTileNumS {
	white-space: nowrap;
	overflow: hidden;
	text-align: right;
	line-height: 1em;
}

.sapMStdTileNum {
	font-size: 3rem;
	margin-top: -.437rem;
}

.sapMStdTileNumM {
	font-size: 2.25rem;
	margin-top: -.25rem;
}

.sapMStdTileNumS {
	font-size: 1.5rem;
	margin-top: -.125rem;
}

.sapMStdTileNumUnit {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
	text-transform: uppercase;
	font-size: 0.875rem;
}

.sapMStdTileTitle {
	line-height: 1.4rem;
	vertical-align: top;
	text-align: left;
	font-size: 1rem;
	height: 4rem;
	width: 100%;
	overflow: hidden;	
	word-break: break-word;
}

html[dir=rtl] .sapMStdTileTitle{
	text-align: right;
}

.sapMStdTileInfo {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
	font-size: 0.875rem;
	margin-top: 2rem;
}

html[dir=rtl] .sapMStdTileNum,
html[dir=rtl] .sapMStdTileNumM,
html[dir=rtl] .sapMStdTileNumS,
html[dir=rtl] .sapMStdTileNumUnit, 
html[dir=rtl] .sapMStdTileInfo{
	text-align: left;
}

.sapMStdTileBottomRow {
	height: 7rem;
	padding: 0 1rem 1rem 1rem;
}

.sapMStdTileMonitorType {
	margin-top: -2rem;
	padding-top: 2rem;	
}

.sapMStdTileBottomRow .sapMStdTileMonitorType {
	height: 10rem;
}

.sap-phone .sapMStdTileTopRow {
	height: 3rem;
	margin-bottom: 0;
}

.sap-phone .sapMStdTileNumDiv {
	width: 5rem;
	height: 3rem;
}

.sap-phone .sapMStdTileNumUnit {
	font-size: 0.75rem;
}

.sap-phone .sapMStdTileBottomRow {
	height: 5rem;
}

.sap-phone .sapMStdTileMonitorType {
	margin-top: -1rem;
	padding-top: 1rem;	
}

.sap-phone .sapMStdTileTitle {
	line-height: 1.2rem;
	font-size: .875rem;
	height: 4rem;
	margin-bottom: 0;
}

.sap-phone .sapMStdTileInfo {
	height: 1rem;
	font-size: 0.75rem;
	width: 100%;
	margin-top: 0;
}

.sap-phone .sapMStdTileNum {
	font-size: 2.375rem;
}

.sap-phone .sapMStdTileNumM {
	font-size: 1.5rem;
}

.sap-phone .sapMStdTileNumS {
	font-size:  1rem;	
}