/* ============================================= */
/* CSS for control sap.m/SelectDialog.control    */
/* ============================================= */

.sapMTableSelectDialog.sapMDialog .sapMDialogScrollCont{
	padding: 0;
}

.sapMBusyIndicator.sapMTableSelectDialogBusyIndicator{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1rem;
	margin-left: -1rem;
	display: none;
}

.sapMTableSelectDialogTableHide {
	display: none;
}
