@navHeight: 4rem;
@listHeight: 2.25rem;
@stepWidth: 2.25rem;
@stepUnderlineHeight: 0.125rem;
@stepUnderlineWidth: 3rem;
@stepOverlapOnPhone: 1rem;

.sapMWizardProgressNav {
	box-sizing: border-box;
	font-size: 0.875rem;
	height: @navHeight;
	padding: 0.875rem 2rem;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sapMWizardProgressNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	width: 100%;
	height: @listHeight;
}

.sapMWizardProgressNav li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.sapMWizardProgressNavStep {
	position: relative;
	width: @stepWidth;

	&[data-sap-ui-wpn-step-current="true"]::after {
		display: block;
		content: "";
		position: absolute;
		width: @stepUnderlineWidth;
		height: @stepUnderlineHeight;

		/* negative values are needed for the right positioning */
		bottom: (@listHeight - @navHeight) / 2;
		margin-left: (@stepWidth - @stepUnderlineWidth) / 2;
	}

	/* anchors in all steps after the active one have the default cursor */
	&[data-sap-ui-wpn-step-active="true"] ~
		.sapMWizardProgressNavStep > .sapMWizardProgressNavAnchor {
		cursor: default;

		&:focus {
			outline: none;
		}
	}
}

.sapMWizardProgressNavAnchor {
	display: block;
	width: @stepWidth;
	height: @listHeight;
	line-height: @listHeight;
	text-decoration: none;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	box-sizing: border-box;
}

.sapMWizardProgressNavSeparator::after {
	content: "";
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.sapMWizardProgressNavSeparator:last-child::after {
	border-bottom-style: dashed;
}

.sapMSplitContainerDetail .sapMWizardProgressNav {
	padding: 0.875rem 1rem;
}

.sap-phone .sapMWizardProgressNav {
	padding: 0.875rem 0.5rem;
}

@media screen and (max-width: 1024px) {
	.sapMWizardProgressNav[data-sap-ui-wpn-step-count="7"],
	.sapMWizardProgressNav[data-sap-ui-wpn-step-count="8"] {
		.step-grouping;
	}
}

@media screen and (max-width: 720px) {
	.sapMWizardProgressNav[data-sap-ui-wpn-step-count="5"],
	.sapMWizardProgressNav[data-sap-ui-wpn-step-count="6"] {
		.step-grouping;
	}
}

.step-grouping {
	/* we check the last two in case there is a separator as a last element */
	.sapMWizardProgressNavStep:not(:nth-last-child(-n + 2)) {
		width: @stepWidth - @stepOverlapOnPhone;
	}

	.sapMWizardProgressNavAnchor {
		position: absolute;
		top: 0;
	}

	.sapMWizardProgressNavSeparator {
		display: none;

		&[data-sap-ui-wpn-separator-open="true"] {
			display: table-cell;
		}
	}
}
