/* ========================================== */
/* CSS for control sap.ui.ux3/DataSet.control */
/* ========================================== */

.sapUiUx3DS {
	color: @sapUiBaseText;
	background-color: @sapUiWhiteBG;
	position: relative;
}
.sapUiUx3DSFilterArea {
	padding-bottom:1px;
	padding-top:1px;
}

.sapUiUx3DSToolbar {
}

.noPadding {
	padding: 0px;
}

.sapUiUx3DS .sapUiTbCont {
	padding-left:3px;
}

.sapUiUx3DS .sapUiTbInnerRight .sapUiSearchField {
	margin-right:3px;
}