/* ======================================== */
/* CSS for control sap.ui.ux3/Exact.control */
/* ======================================== */

.sapUiUx3Exact {
	position: relative;
}

.sapUiUx3ExactSearchArea > .sapUiUx3ExactAreaCont {
	text-align: center;
}

.sapUiUx3ExactViewTitle,
.sapUiUx3ExactBrowseArea {
	margin-top: 47px;
}

.sapUiUx3ExactSearchArea > .sapUiUx3ExactAreaCont > .sapUiUx3ExactSearchText {
	width: 490px;
}