/* ======================================================== */
/* Base CSS for control sap.ui.ux3/FacetFilter.control      */
/* ======================================================== */

.sapUiUx3FacetFilter {
	display: inline-block;
	width: 100%;
	border: 0px;
	white-space: nowrap;
}