/* ======================================= */
/* CSS for control sap.ui.ux3/Feed.control */
/* ======================================= */

.sapUiFeed{
	width: 100%;
}

.sapUiFeed > header{
	display: block;
}

.sapUiFeed > header > h4{
	font-size: @sapUiFontHeader4Size;
	color: @sapUiTextTitle;
}

.sapUiFeed > header > h4 > button{
	float: right;
}

.sapUiFeed > section{
	display: block;
}

.sapUiFeedToolbar > .sapUiSearchField{
	float: right;
}