
/* ============================================= */
/* CSS for control sap.ui.ux3/OverlayDialog.control */
/* ============================================= */

.sapUiUx3OD {
}

.sapUiUx3ODOverlay {
}

.sapUiUx3ODContent {
	background-color: @sapUiWhiteBG;
	position: absolute;
	overflow: auto;
	display: inline-block;
	top: auto;
	left: auto;
	bottom: auto;
	right: auto;
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.4);
	opacity: 1;
	padding: 0px;
}
