.sapUiUx3ShellP13nImgHolder {
	width: 300px;
	height: 200px;
	border: 2px solid @sapUiMediumBorder;
	background-color: @sapUiWhiteBG;
	margin: 12px 0;
	text-align: center;
}

.sapUiUx3ShellP13nImgHolder > img {
	max-height: 200px;
	max-width: 300px;
	min-height: 16px;
	min-width: 16px;
}

.sapUiUx3ShellP13n .sapUiSli {
	padding: 9px 0 0 0;
	height: 10px;
}