/* ============================================ */
/* CSS for control sap.ui.ux3/ToolPopup.control */
/* Base                                         */
/* ============================================ */

.sapUiUx3TP {
	padding: 10px 22px;
	min-width: 50px;
	min-height: 20px;
	color: @sapUiBaseText;
	background-color: @sapUiExtraLightBG;
	border: 1px solid @sapUiMediumBorder;
	font-family: @sapUiFontFamily;
	font-size: @sapUiFontSize;
	outline: none;
}
.sapUiUx3TP.sapUiTPInverted {
	color : @sapUiTextInverted;
}

.sapUiUx3TPTitle {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}

.sapUiUx3TPTitleSep {
	height: 2px;
	margin: 6px 0;
	background-color: @sapUiLightLine;
}

.sapUiUx3TPButtonsSep {
	height: 2px;
	margin: 6px 0;
	background-color: @sapUiLightLine;
}

.sapUiUxTPFocus {
	outline : none;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
}

.sapUiUx3TPArrow {
	position: absolute;
	width: @sapUiUx3ToolPopupArrowWidth;
	height: @sapUiUx3ToolPopupArrowHeight;
	left: -@sapUiUx3ToolPopupArrowWidth;
}
.sapUiUx3TPArrowLeft {
	background-image: url(img/toolpopup/arrow_left.png);
}

.sapUiUx3TPArrow.sapUiTPInverted,
.sapUiUx3TPArrowLeft.sapUiTPInverted {
	background-image: url(img/toolpopup/arrow_left_inverted.png);
}

.sapUiUx3TPArrowRight {
	right: -@sapUiUx3ToolPopupArrowWidth;
	background-image: url(img/toolpopup/arrow_right.png);
}

.sapUiUx3TPArrowRight.sapUiTPInverted {
	background-image: url(img/toolpopup/arrow_right_inverted.png);
}

.sapUiUx3TPArrowUp {
	left: 10px;
	top: -@sapUiUx3ToolPopupArrowWidth;
	width: @sapUiUx3ToolPopupArrowHeight;
	height: @sapUiUx3ToolPopupArrowWidth;
	background-image: url(img/toolpopup/arrow_up.png);
}

.sapUiUx3TPArrowUp.sapUiTPInverted {
	background-image: url(img/toolpopup/arrow_up_inverted.png);
}

.sapUiUx3TPArrowDown {
	left: 10px;
	bottom: -@sapUiUx3ToolPopupArrowWidth;
	width: @sapUiUx3ToolPopupArrowHeight;
	height: @sapUiUx3ToolPopupArrowWidth;
	background-image: url(img/toolpopup/arrow_down.png);
}

.sapUiUx3TPArrowDown.sapUiTPInverted {
	background-image: url(img/toolpopup/arrow_down_inverted.png);
}

.sapUiUx3TPBtnRow {
	text-align: right;
}

html[dir=rtl] .sapUiUx3TPBtnRow {
	text-align: left;
}

.sapUiUx3TPBtnRow > .sapUiUx3TPBtn {
	margin-left: 5px;
}

.sapUiUx3TP.sapUiUx3TPLargeContent {
	bottom: @sapUiUx3TPPaddingBottom;
}

.sapUiUx3TPContent.sapUiUx3TPLargeContent {
	bottom: 0px;
	overflow-y: scroll;
	height: 100%;
}

/* Control Adaptations */
.sapUiUx3TP .sapUiMlt {
	color: @sapUiBaseText;
}

.sapUiUx3TP .sapUiMlt .sapUiTPInverted {
	color : @sapUiTextInverted;
}

/* But do not adapt inside children with a special CSS class "sapUiUx3TPResetColors".
   This class is used to allow controls with regular design inside a ToolPopup. */
.sapUiUx3TP .sapUiUx3TPResetColors {
	color: @sapUiBaseText;
	background-color: @sapUiExtraLightBG;
}

.sapUiUx3TP .sapUiUx3TPResetColors .sapUiLbl,
.sapUiUx3TP .sapUiUx3TPResetColors .sapUiMlt {
	color: @sapUiBaseText;
}

.sapUiUx3TPButtonRowHidden{
	display: none;
}
