/* =================================================== */
/* CSS for control sap.ui.ux3/OverlayContainer.control */
/* =================================================== */

.sapUiUx3OC {
}

.sapUiUx3OCOverlay {
}

.sapUiUx3OCContent {
	background-color: @sapUiWhiteBG;
	position: absolute;
	top: 29px;
	left: 29px;
	bottom: 29px;
	right: 29px;
	opacity: 1;
	padding: 0;
}