<% for(var i =0; i < this.length ; i++){ %>
	<li <%= this[i]%>>
		<div class="view">
			<input class="toggle" type="checkbox" <%= (this[i].complete) ? "checked" : "" %>>
			<label><%= this[i].title %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="<%= this[i].title %>">
	</li>
<% } %>