/* ===================================================== */
/* CSS for control sap.ui.layout/form/SimpleForm.control */
/* ===================================================== */

.sapUiSimpleForm {
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sap-tablet .sapUiFioriObjectPage > section > .sapUiSimpleForm,
.sap-desktop .sapUiFioriObjectPage > section > .sapUiSimpleForm {
	margin: 1rem 0;
	padding: 0 1rem;
}