/* ==================================================== */
/* CSS for control sap.ui.ux3/DataSetSimpleView.control */
/* SAP-HCB Theme                                        */
/* ==================================================== */

.sapUiUx3DSSV {
	font-size: @sapUiDesktopFontSize;
}

/* change for matching */
.sapUiUx3DSSVItem:hover {
	background-color: @sapHCHighlightBG;
}
.sapUiUx3DSSVSelected {
	background-color: @sapHCHighlightBG;
}