/* ====================================================== */
/* CSS for control sap.ui.commons/FacetFilterList.control */
/* SAP-HCB Theme                                          */
/* ====================================================== */

/* Header */
.sapUiUx3FFLstHead {
	font-size: @sapUiDesktopFontSize;
}

.sapUiUx3FFLstHeadTxt {
	font-size: @sapUiDesktopFontSize;
}

/* Facet Filter List*/
.sapUiUx3FFLst {
	font-size: @sapUiDesktopFontSize;
}

