/* ============================================= */
/* CSS for control sap.ui.ux3/Feed.control       */
/* HCB                                           */
/* ============================================= */

.sapUiFeed{
	font-size: @sapUiDesktopFontSize;
}

.sapUiFeed > header {
	margin-top: 20px;
}

.sapUiFeed > header > h4 {
	margin: 0;
	font-size: @sapUiFontHeader1Size;
	height: 22px;
}

.sapUiFeedToolbar {
	margin-top: 2px;
	padding: 3px;
}

.sapUiFeed > section {
	margin-top: 2px;
}