/* ============================================ */
/* CSS for control sap.ui.ux3/ToolPopup.control */
/* SAP-HCB Theme                                */
/* ============================================ */

.sapUiUx3TP {
	font-size: @sapUiDesktopFontSize;
}
.sapUiUx3TPTitleSep {
	background-color: @sapHCStandardFG;
}
.sapUiUx3TPButtonsSep {
	background-color: @sapHCStandardFG;
}