.sapUiIcon:focus {
	outline: 1px dashed @sapUiKeyboardFocus;
}

.sapMTB-Info-CTX > .sapUiIcon {
	width: 1rem;
	font-size: 1rem;
	color: @sapUiInvertedElement;
}

.sapUiSizeCondensed .sapUiTableCell>.sapUiIcon:first-child {
	padding-left: 0.5rem;
}

.sapUiSizeCondensed .sapUiTableCell>.sapUiIcon:last-child {
	padding-right: 0.5rem;
}

.sapUiIconColorNeutral {
	color: @sapUiNeutral;
}

.sapUiIconColorCritical {
	color: @sapUiCritical;
}

.sapUiIconColorPositive {
	color: @sapUiPositive;
}

.sapUiIconColorNegative {
	color: @sapUiNegative;
}

.sapUiIconBGColorNeutral {
	background-color: @sapUiNeutral;
}

.sapUiIconBGColorCritical {
	background-color: @sapUiCritical;
}

.sapUiIconBGColorPositive {
	background-color: @sapUiPositive;
}

.sapUiIconBGColorNegative {
	background-color: @sapUiNegative;
}