node_modules/jquery/*
!node_modules/jquery/dist
node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.min.js

node_modules/backendless/*
!node_modules/backendless/libs
node_modules/backendless/libs/*
!node_modules/backendless/libs/backendless.min.js

node_modules/backendless-backbone/*
!node_modules/backendless-backbone/lib
node_modules/backendless-backbone/lib/*
!node_modules/backendless-backbone/lib/backendless-backbone-min.js

node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common/*
!node_modules/todomvc-common/base.css
!node_modules/todomvc-common/base.js

node_modules/backbone/*
!node_modules/backbone/backbone-min.js

node_modules/underscore/*
!node_modules/underscore/underscore-min.js

