/* ==================================================== */
/* CSS for control sap.ui.dev/FormattedTextView.control */
/* ==================================================== */

.sapUiFTV {
	font-family: @sapUiFontFamily;
	font-size: @sapUiFontSize;
	vertical-align: top;
	line-height: @sapUiLineHeight;
	display: inline-block;
}

/* If control is used on black/dark background */
.sapUiInverted-CTX .sapUiFTV {
	color: @sapUiTextInverted;
}

/* Do not invert for table */
.sapUiInverted-CTX .sapUiTable .sapUiFTV {
	color: @sapUiBaseText;
}

.sapUiFTV strong,
.sapUiFTVBold {
	font-weight: bold;
}

.sapUiFTV em,
.sapUiFTVItalic {
	font-style: italic;
}

.sapUiFTVSmall {
	font-size: @sapUiFontSmallSize;
}

.sapUiFTV code,
.sapUiFTVMono {
	font-family: monospace;
}

/* success state */
.sapUiFTVSucc {
	background-color: @sapUiFieldSuccessBackground;
}

/* invalid state */
.sapUiFTVErr {
	color: @sapUiFieldInvalidColor;
	border-color: @sapUiFieldInvalidColor;
	background-color: @sapUiFieldInvalidBackground;
}

/* warning state */
.sapUiFTVWarn {
	background-color: @sapUiFieldWarningBackground;
}