html-report
out
js/lib/*
!js/lib/dojo
js/lib/dojo/*
!js/lib/dojo/dojo.js

node_modules/dijit/*
node_modules/dojo/*
node_modules/dojo-util/*
node_modules/util/*
node_modules/dojox/*
node_modules/intern/*
node_modules/.bin/*

node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common/*
!node_modules/todomvc-common/base.css
!node_modules/todomvc-common/base.js
