node_modules/*

node_modules/backbone/*
!node_modules/backbone/backbone.js

node_modules/backbone.localstorage/*
!node_modules/backbone.localstorage/backbone.localStorage.js

node_modules/jquery/**
!node_modules/jquery/dist/jquery.js

node_modules/lodash/*
!node_modules/lodash/index.js

node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common/*
!node_modules/todomvc-common/base.css
!node_modules/todomvc-common/base.js
