<div id="todo_items_template">
    <section id="main" data-class="todo-visible">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list" data-bind="foreach: items">
            <li data-bind="css: { completed: completed }">
                <div class="view">
                    <input class="toggle" type="checkbox" data-bind="checked: completed">
                    <label data-bind="text: title"></label>
                    <button class="destroy"></button>
                </div>
                <input class="edit" value="Create a TodoMVC template">
            </li>
        </ul>
    </section>

    <footer id="footer" data-class="todo-visible">
        <!-- This should be `0 items left` by default -->
        <span id="todo-count"><strong>1</strong> item left</span>
        <!-- Remove this if you don't implement routing -->
        <ul id="filters">
            <li>
                <a class="selected" href="#/">All</a>
            </li>
            <li>
                <a href="#/active">Active</a>
            </li>
            <li>
                <a href="#/completed">Completed</a>
            </li>
        </ul>
        <!-- Hidden if no completed items are left -->
        <button id="clear-completed">Clear completed (1)</button>
    </footer>
</div>

<div id="todo_input_template">
    <input id="new-todo" data-class="todo-input" placeholder="What needs to be done?" autofocus>
</div>