<li [class.completed]="todo.completed" [class.editing]="isEditing">
    <div class="view">
        <input class="toggle" type="checkbox" (change)="toggleTodo()" [checked]="todo.completed" />
        <label (dblclick)="startEdit()">{{ todo.title }}</label>
        <button class="destroy" aria-label="Delete todo" (click)="removeTodo()"></button>
    </div>
    @if (isEditing) {
        <input
            #todoInputRef
            class="edit"
            aria-label="Edit todo"
            [(ngModel)]="title"
            (focus)="handleFocus($event)"
            (blur)="commitEdit()"
            (keyup.enter)="commitEdit()"
            (keyup.escape)="cancelEdit()" />
    }
</li>
