.connection {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 99;
}
.connection > .alert {
	background: #fff1a8;
	border: 1px solid #999;
	border-top: 0;
	border-radius: 0 0 3px 3px;
	display: inline-block;
	line-height: 21px;
	padding: 0 12px;
}
