html,
body {
        margin: 0;
        padding: 0;
}

.x-body {
        font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
        font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.4em;
        width: auto !important;
        background: #eaeaea url('../../../../assets/bg.png');
        color: #4d4d4d !important;
        margin: 0 auto;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
}

.header {
        font-size: 70px;
        padding: 13px 0px 10px 0px;
        font-weight: bold;
        text-align: center;
        color: #b3b3b3;
        color: rgba(255, 255, 255, 0.3);
        text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
        -webkit-text-rendering: optimizeLegibility;
        -moz-text-rendering: optimizeLegibility;
        -ms-text-rendering: optimizeLegibility;
        -o-text-rendering: optimizeLegibility;
        text-rendering: optimizeLegibility;        
}

.todoapp {
        background: #fff;
        background: rgba(255, 255, 255, 0.9);  
        margin-bottom: 10px;  
        border: 1px solid #ccc; 
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        box-shadow:     0 2px 6px 0 rgba(0, 0, 0, 0.2), 
                        0 25px 50px 0 rgba(0, 0, 0, 0.15); 
                        
}

.todoapp:before {
        content: '';
        border-left: 1px solid #f5d6d6;
        border-right: 1px solid #f5d6d6;
        width: 2px;
        position: absolute;
        top: 0;
        left: 40px;
        height: 100%;
}

.todoapp input::-webkit-input-placeholder {
        font-style: italic;
}

.todoapp input:-moz-placeholder {
        font-style: italic;
        color: #a9a9a9;
}

button {
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        font-size: 100%;
        vertical-align: baseline;
        font-family: inherit;
        color: inherit;
/*        -webkit-appearance: none; */
        -moz-appearance: none; 
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
}

.new-todo:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 15px;
        z-index: 2;
        border-bottom: 1px solid #6c615c;
        background: #8d7d77;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
        background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
        background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
        background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
        background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
        background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
        border-top-left-radius: 1px;
        border-top-right-radius: 1px; 
}

.new-todo {
        padding-top: 15px;
        border-radius: inherit;
        border: none;
        background: rgba(0, 0, 0, 0.02); 
        z-index: 2;
        box-shadow: none;         
}

.todoapp input[type=text], .todo-list input[type=text], input[type=text] {
        background-color: transparent;
        background-image: none;
        font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif; 
        line-height: 1.4em;
        border: none;
        color: #4D4D4D;
        padding: 0px 0px 0px 20px;
}

label[for='toggle-all'] {
        display: none;
}

.toggle-all-button {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 28px;
        color: #d9d9d9;
        padding: 14px;
}

.toggle-all-button.x-btn-pressed {
        color: #737373;
}

.todo input::-webkit-input-placeholder {
        font-style: italic;
}

.todo-list {
        background: #fff;
        padding: 0;
        list-style: none;
}

.todo-list li {
        position: relative; 
        font-size: 24px;
        border-top: 1px dotted #ADADAD;
}


.todo-list li .toggle {
        text-align: center;
        width: 40px;
        height: 40px;
        float: left;
        margin-top: 8px;
        -webkit-appearance: none;
        /*-moz-appearance: none;*/
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
}

.todo-list li .toggle:after {
        font-size: 18px;
        content: '✔';
        line-height: 43px; /* 40 + a couple of pixels visual adjustment */
        font-size: 20px;
        color: #d9d9d9;
        text-shadow: 0 -1px 0 #bfbfbf;
}

.todo-list li .toggle:checked:after {
        color: #85ada7;
        text-shadow: 0 1px 0 #669991;
        bottom: 1px;
        position: relative;
}

.todo-list li label {
        word-break: break-word;
        padding: 15px;
        margin-left: 45px;
        display: block;
        line-height: 1.2;
        -webkit-transition: color 0.4s;
        -moz-transition: color 0.4s;
        -ms-transition: color 0.4s;
        -o-transition: color 0.4s;
        transition: color 0.4s;
}

.todo-list li.completed label {
        color: #a9a9a9;
        text-decoration: line-through;
}

.todo-list li .destroy {
        display: none;
        float: right;
        position: absolute;
        top: 20px;
        right: 5px;
        bottom: 0; 
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin: auto 0; 
        font-size: 22px;
        color: #a88a8a;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
}

.todo-list li .destroy:hover {
        display: block;
        text-shadow: 0 0 1px #000,
                                 0 0 10px rgba(199, 107, 107, 0.8);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
}

.todo-list li .destroy:after {
        content: '✖';
}

.todo-list li:hover .destroy {
        display: block;
}

.todo-list li .view label {
        word-break: break-word;
}

.filters {
/*        margin: 0;
        padding: 0;
        list-style: none;
       position: absolute;
        right: 0;
        left: 0;
*/
}

.filters li {
        display: inline;
}

.filters  a {
        color: #83756f;
        margin: 2px; 
        text-decoration: none;
}

.filters a.selected {
        font-weight: bold;
}

.footer {
        color: #777;
        padding: 0 15px; 
        height: 20px;
        overflow: visible;
        text-align: center; 
}

.footer:before {
    pointer-events: none;
    content: '';
    position: absolute; 
    right: 0;
    top: 0px;
    top: -62px; 
    left: 0;
    height: 50px;  
    overflow: visible; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
                0 6px 0 -3px rgba(255, 255, 255, 0.8),
                0 7px 1px -3px rgba(0, 0, 0, 0.3),
                0 43px 0 -6px rgba(255, 255, 255, 0.8),
                0 44px 2px -6px rgba(0, 0, 0, 0.2); 
}


.clear-completed {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    font-size: 11px;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-appearance: none;
/*    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2); */

/*
    -webkit-appearance: none;
        float: right;
        line-height: 20px;
        text-decoration: none;
        background: rgba(0, 0, 0, 0.1);
        color: #777;
        font-size: 11px;
        margin-top: 8px; 
        margin-bottom: 8px; 
        padding: 0 10px 1px;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
        -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
        -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
        -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0; */
}

.clear-completed:hover {
    background: rgba(0, 0, 0, 0.15);
/*    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3); */
}

.info {
    color: #a6a6a6;
    font-size: 12px;
    line-height: 1.4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    text-align: center;
}

.info p {
    line-height: 1.4em;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.info a {
        color: inherit;
}

/*
#instructions {
        margin: 10px auto;
        color: #777777;
        text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
        text-align: center;
}

#instructions a {
        color: #336699;
}

#credits {
        margin: 30px auto;
        color: #999;
        text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
        text-align: center;
}

#credits a {
        color: #888;
}

*/
