.hidden {
	display: none;
}
#filters li:first-child a{
	font-weight: bold;
}
#filters.active a{
	font-weight: normal;
}
#filters.active li:first-child a{
	font-weight: normal;
}
#filters.active .active{
	font-weight: bold;
}
#filters.completed a{
	font-weight: normal;
}
#filters.completed li:first-child a{
	font-weight: normal;
}
#filters.completed .completed{
	font-weight: bold;
}
