<%%for(var attribute in this.Class.attributes){%>
	<%%if(attribute == 'id') continue;%>
	<td class='<%%= attribute%>'>
		<%%=this[attribute]%>
	</td>
<%%}%>
<td>
	<a href='javascript://' class='edit'>edit</a>
	<a href='javascript://' class='destroy'>destroy</a>
</td>