<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DerbyJS Standalone • TodoMVC</title>
    <link rel="stylesheet" href="bower_components/todomvc-common/base.css">
  </head>
  <body>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
      </header>
    </section>
    <footer id="info">
      <p>Double-click to edit a todo</p>
      <p>Created by <a href="https://github.com/nateps">Nate Smith</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>

    <script type="text/template" id="app">
      <view is="todos" mode="{{_page.mode}}"></view>
    </script>

    <script type="text/template" id="todos">
      <form on-submit="add()">
        <input id="new-todo" placeholder="What needs to be done?" value="{{newTodo}}" autofocus>
      </form>
      {{if stats.total}}
        <section id="main">
          <input id="toggle-all" type="checkbox" checked="{{allChecked(stats.remaining)}}">
          <label for="toggle-all">Mark all as complete</label>
          <view is="list"></view>
        </section>
        <footer id="footer">
          <view is="stats"></view>
        </footer>
      {{/if}}
    </script>

    <script type="text/template" id="list">
      <ul id="todo-list">
        {{each items as #item}}
          <li class="{{if #item.completed}}completed{{/if}}
            {{if #item === editing}}editing{{/if}}">
            <div class="view">
              <input class="toggle" type="checkbox" checked="{{#item.completed}}">
              <label on-dblclick="edit(#item, $element)">{{#item.title}}</label>
              <button class="destroy" on-click="del(#item)"></button>
            </div>
            <input class="edit" value="{{#item.title}}" on-blur="close()">
          </li>
        {{/each}}
      </ul>
    </script>

    <script type="text/template" id="stats">
      <span id="todo-count">
        <strong>{{stats.remaining}}</strong>&sp;
        {{stats.remaining === 1 ? 'item' : 'items'}} left
      </span>
      <ul id="filters">
        <view is="filter">All</view>
        <view is="filter" value="active">Active</view>
        <view is="filter" value="completed">Completed</view>
      </ul>
      {{if stats.completed}}
        <button id="clear-completed" on-click="clearCompleted()">
          Clear completed ({{stats.completed}})
        </button>
      {{/if}}
    </script>

    <script type="text/template" id="filter">
      <li>
        <a class="{{if @value === mode}}selected{{/if}}" href="#/{{@value}}">{{@content}}</a>
      </li>
    </script>

    <script src="bower_components/todomvc-common/base.js"></script>
    <script src="bower_components/director/build/director.min.js"></script>
    <script src="http://derbyjs.github.io/derby-standalone/dist/0.6.0-alpha25/derby-standalone.min.js"></script>
    <script src="js/local-store.js"></script>
    <script src="js/todos.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
