html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 15px 'Helvetica Neue', Helvetica, Arial;
	font-weight: 300;
	line-height: 1.5;
	width: auto;
	background: #EAEAEA url('../site-assets/bg.png');
	color: #4D4D4D;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.2;
	color: #000;
}

h2 {
	margin: 10px 0;
	font-size: 20px;
}

a {
	color: #B83F45;
	font-weight: bold;
}

a:hover {
	color: #787e7e;
}

p {
	font-size: 15px;
	line-height: 1.5;
	font-weight: 300;
}

hr {
	border-top: 1px dashed #C5C5C5;
	border-bottom: 1px dashed #F7F7F7;
}

var {
	font-style: normal;
}

header p {
	font-size: 30px;
	line-height: 1.2;
	margin-top: 10px;
}

header nav {
	margin-top: 20px;
}

header nav a:not(:last-child) {
	margin-right: 5px;
	margin-bottom: 5px;
}

.logo {
	margin-top: 70px;
}

.nav-tabs > li,
.nav-pills > li {
	clear: both;
}

.nav-pills {
	margin-left: -10px;
}

.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.screenshot {
	width: 100%;
	height: auto;
	max-width: 558px;
	margin-top: 12px;
	float: right;
}

.tagline2 {
	font-size: 21px;
	font-style: italic;
	margin-top: 40px;
}

.container {
	margin-top: 10px;
	margin-bottom: 20px;
}

.whats-new li {
	position: relative;
	margin: 15px 0;
	list-style: none;
}

.whats-new li:before {
	content: '✔';
	position: absolute;
	left: -20px;
}

.whats-new li ul {
	margin-left: 10px;
}

.whats-new li ul li {
	margin-left: 20px;
}

.applist {
	list-style: none;
	margin: 0;
	-webkit-columns: 4;
	-moz-columns: 4;
	-ms-columns: 4;
	-o-columns: 4;
	columns: 4;
}

.applist li {
	white-space: nowrap;
	padding-bottom: 20px;
}

.applist a {
	position: relative; /* popover */
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-o-column-break-inside: avoid;
	column-break-inside: avoid;
}

.applist .routing::after {
	content: 'R';
	position: relative;
	top: -3px;
	font-size: 9px;
	padding: 1px 3px 1px;
	background-color: rgba(0, 0, 0, .2);
	border-radius: 3px;
	font-weight: bold;
	line-height: 13px;
	color: white;
	vertical-align: middle;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.applist .labs a,
.labs-example {
	color: #582C42;
}

.applist .label,
.legend .label {
	position: relative;
	top: -3px;
	font-size: 9px;
	padding: 1px 3px 1px;
	background-color: rgba(0, 0, 0, .2);
}

.applist a:hover .label {
	text-decoration: none !important;
	color: red;
}

.applist.amd {
	-webkit-columns: 2;
	-moz-columns: 2;
	-ms-columns: 2;
	-o-columns: 2;
	columns: 2;
}

.legend {
	margin-top: 20px;
	margin-left: 0;
	list-style-type: none;
}

.legend li {
	margin-bottom: 0.5em;
}

.legend li:last-child {
	margin-bottom: 0;
}

.labs-example {
	font-weight: bold;
}

.collapsed {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 1s;
	-ms-transition: max-height 1s;
	transition: max-height 1s;
}

#news-expander {
	display: none;
}

#news-expander:checked ~ .collapsed {
	max-height: 999px;
}

.credit a {
	margin: 0 5px;
	white-space: nowrap;
}

.credit a img {
	border-radius: 3px;
	margin-right: 5px;
}

.popover {
	margin: 0;
	cursor: default;
	color: #333;
	white-space: normal;
	z-index: 999;
}

.popover-title {
	padding: 9px 70px 9px 15px;
}

.popover-title a {
	font-size: 13px;
	position: absolute;
	right: 20px;
}

.quote {
	border: none;
	margin: 20px 0 70px 0;
}

.quote p {
	font-size: 17px;
	line-height: 1.3;
	font-style: italic;
}

.quote p:before {
	content: '“';
	font-size: 50px;
	opacity: .15;
	position: absolute;
	top: -20px;
	left: 3px;
}

.quote p:after {
	content: '”';
	font-size: 50px;
	opacity: .15;
	position: absolute;
	bottom: -42px;
	right: 3px;
}

.quote footer {
	position: absolute;
	bottom: -60px;
	left: 12px;
}

.quote footer img {
	border-radius: 3px;
}

.quote footer a {
	margin-left: 5px;
	vertical-align: middle;
}

.speech-bubble {
	position: relative;
	padding: 10px;
	background: rgba(0, 0, 0, .04);
	border-radius: 5px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 20px;
	border: 13px solid transparent;
	border-top-color: rgba(0, 0, 0, .04);
}

.zocial.red {
	background-color: #a82400;
}

.zocial.gray {
	background-color: rgba(0, 0, 0, .5);
}

.zocial.ltgray {
	color: inherit;
	text-shadow: none;
}

.zocial.ltgray strong {
	color: #B83F45;
}

.zocial.small {
	font-size: 12px;
	padding: 2px 10px;
}

.zocial,
a.zocial {
	border: 1px solid #777;
	border-color: rgba(0, 0, 0, 0.2);
	border-bottom-color: #333;
	border-bottom-color: rgba(0, 0, 0, 0.4);
	color: white;
	box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.3),
				inset 0 0 0.1em rgba(255, 255, 255, 0.9),
				0 1px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: inline-block;
	font: bold 100%/2.1 "Helvetica Neue", Helvetica, Arial;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	border-radius: .3em;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
	background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
}

@media (max-width: 480px) {
	body .applist {
		-webkit-columns: auto !important;
		-moz-columns: auto !important;
		-ms-columns: auto !important;
		-o-columns: auto !important;
		columns: auto !important;
	}

	.credit a {
		display: block;
	}
}

@media (max-width: 768px) {
	h2 {
		margin-top: 20px;
	}

	.row,
	.credit {
		margin-left: 10px;
		margin-right: 10px;
	}

	.logo {
		max-width: 100%;
		margin-top: 0;
	}

	.logo-icon {
		display: none;
	}

	.container {
		margin: auto;
	}

	.applist {
		-webkit-columns: 2 !important;
		-moz-columns: 2 !important;
		-ms-columns: 2 !important;
		-o-columns: 2 !important;
		columns: 2 !important;
	}
}

@media (max-width: 980px) {
	.applist {
		-webkit-columns: 3;
		-moz-columns: 3;
		-ms-columns: 3;
		-o-columns: 3;
		columns: 3;
	}
}
