node_modules/director/*
node_modules/director/build/*
!node_modules/director/build
!node_modules/director/build/director.js

node_modules/knockout/*
!node_modules/knockout/build
node_modules/knockout/build/*
!node_modules/knockout/build/output/
node_modules/knockout/build/output/*
!node_modules/knockout/build/output/knockout-latest.js

node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common/*
!node_modules/todomvc-common/base.css
!node_modules/todomvc-common/base.js
