<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="todomvc-common/base.css" />
		<link rel="stylesheet" href="todomvc-app-css/index.css" />
	</head>
	<body hx-boost="true">
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input
					name="label"
					class="new-todo"
					placeholder="What needs to be done?"
					autofocus
					hx-post="/todos"
				/>
			</header>
			<%- todosMarkup%>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>
				Created by
				<a href="https://dev.to/mbarzeev" target="_blank">Matti Bar-Zeev</a>
			</p>
			<p>Part of <a href="http://todomvc.com" target="_blank">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="js/htmx.min.js"></script>
		<script src="todomvc-common/base.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
