<span class="todo-count">
	<strong>{{ len .Todos.Remaining }}</strong>
	item{{ if ne (len .Todos.Remaining) 1}}s{{end}} left
</span>
<ul class="filters">
	<li>
		<a {{ if eq .Path "#/"}} class="selected" {{ end }} href="#/">All</a>
	</li>
	<li>
		<a {{ if eq .Path "#/active"}} class="selected" {{ end }} href="#/active">Active</a>
	</li>
	<li>
		<a {{ if eq .Path "#/completed"}} class="selected" {{ end }} href="#/completed">Completed</a>
	</li>
</ul>

<button class="clear-completed {{ if eq (len .Todos.Completed) 0}}hidden{{ end }}">
	Clear completed
</button>
