<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title><%= application_name %></title>
        <style type='text/css'>
            body {font-family: verdana}
            .error {border: solid 1px red;}
            .error_text { color: red; font-size: 10px;}
            td {padding: 3px;}
        </style>
	</head>
	<body>
	    <h1><%= application_name %> Demo</h1>
        <p>This is a dummy page to show off your plugin</p>
		<script type='text/javascript' 
                src='<%= path_to_steal %>/steal/steal.js'>   
        </script>
		<script type='text/javascript'>
			steal('<%= path %>', function(){
				
			})
		</script>
	</body>
</html>