/* ===================================================== */
/* CSS for control sap.ui.layout/form/SimpleForm.control */
/* ===================================================== */

.sapUiFormEdit-CTX .sapMRb {
	vertical-align: top;
	line-height:1em;
	z-index: 0;
}

.sapUiFormEdit-CTX .sapMRbHasLabel.sapMRb:focus:before {
	right: -0.0312rem;
}

.sapUiFormEdit-CTX .sapMRbBLabel {
	line-height:3rem;
}

.sapUiSizeCompact .sapUiFormEdit-CTX .sapMRbBLabel {
	line-height:  2rem;
}

.sapUiFormEdit-CTX .sapMSwtCont {
	vertical-align:middle;
}
