<div>
	<div>
		<!--ko compose: {
			model: router.activeItem, // wiring the router
			afterCompose: router.afterCompose, // wiring the router
			cacheViews: true // telling composition to keep views in the dom, and reuse them (only a good idea with singleton view models)
		}--><!--/ko-->
	</div>
	<footer id="info">
		<p>Double-click to edit a todo</p>
		<p>Written by <a href="https://github.com/abhinavgujjar">Abhinav Gujjar</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
</div>
