
#filters li a.enabled {
	font-weight: bold;
}

.moui-modalview .wrapper > header button.confirm, 
.todo-modalview .wrapper > header button.confirm,
.moui-modalview .wrapper > header button.cancel,
.todo-modalview .wrapper > header button.cancel {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
}
.moui-actionview, .todo-actionview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1020;
  overflow: auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -ms-flex-pack: center;
  flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.moui-actionview .wrapper, .todo-actionview .wrapper {
  position: relative;
  background: #fff;
  width: 350px;
  margin: 0 auto 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.moui-actionview .wrapper .content > header, .todo-actionview .wrapper .content > header {
  margin: 20px;
}
.moui-actionview .wrapper .content > header h1, .todo-actionview .wrapper .content > header h1 {
  font-size: 16px;
}
.moui-actionview .wrapper .content > .desc, .todo-actionview .wrapper .content > .desc {
  margin: 20px 20px 40px 20px;
  font-size: 14px;
}
.moui-actionview > footer, .todo-actionview > footer {
  position: relative;
  background: #fff;
  width: 350px;
  margin: 0 auto;
  text-align: center;
  height: 39px;
  border-top: 1px solid #e5e5e5;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.moui-actionview > footer .cancel, .todo-actionview > footer .cancel,
.moui-actionview > footer .confirm,
.todo-actionview > footer .confirm {
  display: inline-block;
  line-height: 39px;
  height: 39px;
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
}
.moui-actionview > footer .cancel:hover, .todo-actionview > footer .cancel:hover,
.moui-actionview > footer .confirm:hover,
.todo-actionview > footer .confirm:hover {
  background: #f2f2f2;
}
.moui-actionview > footer .confirm, .todo-actionview > footer .confirm {
  display: none;
}
.moui-actionview > footer.multi .confirm, .todo-actionview > footer.multi .confirm {
  display: inline-block;
  left: 50%;
  margin: 0 0 0 0;
  border-left: 1px solid #e5e5e5;
}
.moui-actionview > footer.multi .cancel, .todo-actionview > footer.multi .cancel {
  right: 50%;
  margin: 0 0 0 0;
}
.moui-actionview .shd, .todo-actionview .shd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.moui-actionview.rendered, .rendered.todo-actionview {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: flex;
}
.moui-actionview.active .shd, .active.todo-actionview .shd {
  opacity: 1;
}
.moui-actionview.active .wrapper, .active.todo-actionview .wrapper {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.moui-actionview.active > footer, .active.todo-actionview > footer {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.moui-modalview, .todo-modalview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1020;
  overflow: auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -ms-flex-pack: center;
  flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.moui-modalview .wrapper, .todo-modalview .wrapper {
  position: relative;
  background: #fff;
  width: 460px;
  margin: 0 auto 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.moui-modalview .wrapper > header, .todo-modalview .wrapper > header {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: flex;
}
.moui-modalview .wrapper > header h1, .todo-modalview .wrapper > header h1 {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 39px;
  height: 39px;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-order: 1;
  -moz-flex-order: 1;
  -ms-flex-order: 1;
  flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.moui-modalview .wrapper > header button.confirm, .todo-modalview .wrapper > header button.confirm,
.moui-modalview .wrapper > header button.cancel,
.todo-modalview .wrapper > header button.cancel {
  font-size: 14px;
  line-height: 39px;
  height: 39px;
  -webkit-flex: 0 1 80px;
  -moz-flex: 0 1 80px;
  -ms-flex: 0 1 80px;
  flex: 0 1 80px;
  -webkit-flex-order: 0;
  -moz-flex-order: 0;
  -ms-flex-order: 0;
  flex-order: 0;
  -webkit-order: 0;
  order: 0;
}
.moui-modalview .wrapper > header button.confirm:hover, .todo-modalview .wrapper > header button.confirm:hover,
.moui-modalview .wrapper > header button.cancel:hover,
.todo-modalview .wrapper > header button.cancel:hover {
  background: #f2f2f2;
}
.moui-modalview .wrapper > header button.cancel, .todo-modalview .wrapper > header button.cancel {
  border-right: 1px solid #e5e5e5;
}
.moui-modalview .wrapper > header button.confirm, .todo-modalview .wrapper > header button.confirm {
  -webkit-flex-order: 2;
  -moz-flex-order: 2;
  -ms-flex-order: 2;
  flex-order: 2;
  -webkit-order: 2;
  order: 2;
  border-left: 1px solid #e5e5e5;
}
.moui-modalview .shd, .todo-modalview .shd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.moui-modalview.rendered, .rendered.todo-modalview {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: flex;
}
.moui-modalview.active .shd, .active.todo-modalview .shd {
  opacity: 1;
}
.moui-modalview.active .wrapper, .active.todo-modalview .wrapper {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
