/* =========================================== */
/* CSS for control sap.ui.commons/Link.control */
/* SAP-HCB Theme                               */
/* =========================================== */

.sapUiLnk,
.sapUiLnkDsbl {
	text-decoration: underline;
	font-size: @sapUiDesktopFontSize;
}
.sapUiLnk:hover {
	text-decoration: none;
}
