/* ====================================================== */
/* CSS for control sap.ui.commons/RatingIndicator.control */
/* SAP-HCB Theme                                          */
/* ====================================================== */

.sapUiRating {
	font-size: @sapUiDesktopFontSize;
}

.sapUiRating:focus {
	outline-width: 3px;
	outline-style: solid;
	outline-color: @sapHCStandardFG;
}
