# best for apps, not for libraries
resolution-mode=highest

# ok for apps, disaster for libraries
auto-install-peers=true

# for cloudflare... but also because not all dependencies of the ecosystem have gotten strict yet
# TODO: set this to true
strict-peer-dependencies=false
