<li data-type="todo" data-id="<%= id %>" class="<%= done ? 'done' : '' %>">
<div class="todo">
	<div class="display">
		<input class="check" type="checkbox" <%= done ? 'checked' : '' %>/>
		<span class="trashcan" data-type="todo" data-id="<%= id %>"></span>
		<span contenteditable="true" data-type="todo" data-id="<%= id %>" class="todo-item"><%= name %></span>
	</div>
</div>
</li>
