<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Saltarelle.Compiler" version="1.6.2" targetFramework="net20" />
  <package id="Saltarelle.jQuery" version="1.6.2" targetFramework="net20" />
  <package id="Saltarelle.Linq" version="1.6.2" targetFramework="net20" />
  <package id="Saltarelle.Runtime" version="1.6.2" targetFramework="net20" />
  <package id="Saltarelle.Web" version="1.6.2" targetFramework="net20" />
</packages>