<div class="view">
    <input class="toggle" type="checkbox" {{#if model.completed}}checked{{/if}}>
    <label>{{model.title}}</label>
    <button class="destroy"></button>
</div>
<input class="edit" value="{{model.title}}">