/* ========================================== */
/* CSS for control sap.ui.ux3/DataSet.control */
/* ========================================== */

.sapUiUx3DS {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
}

.sapUiUx3DSToolbar {
	background-color: @sapUiMediumBG;
}