/* ============================================ */
/* CSS for control sap.ui.ux3/ExactArea.control */
/* ============================================ */

.sapUiUx3ExactArea {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
}

.sapUiUx3ExactArea > .sapUiTb {
	background-color: @sapUiDarkestBG;
}

.sapUiUx3ExactAreaTbTitle {
	margin-top: 2px;
}