/* =============================================== */
/* CSS for control sap.ui.ux3/ExactBrowser.control */
/* =============================================== */

.sapUiUx3ExactBrwsr {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
}

.sapUiUx3ExactBrwsrHd {
	height: 22px;
	line-height: 22px;
}