


.button {
	display: inline-block;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	font-size: 14px;
	line-height: 20px;
	padding: 15px 25px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	position: relative;
	margin: 0 10px 10px 0;
}

.button:after {
	position: absolute;
	display: block;
	content: "";
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	z-index: -1;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.button:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.02) !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.02) !important;
}

.button:active:after {
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) !important;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) !important;
}

/* Midnight Black */

.black-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #7c8184;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #7c8184;
	background-color: #676b6d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#676b6d), to(#484a4c));
	background-image: -webkit-linear-gradient(top, #676b6d, #484a4c);
	background-image: -moz-linear-gradient(top, #676b6d, #484a4c);
	background-image: -o-linear-gradient(top, #676b6d, #484a4c);
	background-image: -ms-linear-gradient(top, #676b6d, #484a4c);
	background-image: linear-gradient(top, #676b6d, #484a4c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#676b6d', EndColorStr='#484a4c');
}

.black-button {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #6f7476;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #6f7476;
}

.black-button,
.black-button:active {
	background-color: #5c6062;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5c6062), to(#434547));
	background-image: -webkit-linear-gradient(top, #5c6062, #434547);
	background-image: -moz-linear-gradient(top, #5c6062, #434547);
	background-image: -o-linear-gradient(top, #5c6062, #434547);
	background-image: -ms-linear-gradient(top, #5c6062, #434547);
	background-image: linear-gradient(top, #5c6062, #434547);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5c6062', EndColorStr='#434547');
}

.black-button:after {
	background-color: #37383a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#37383a), to(#252627));
	background-image: -webkit-linear-gradient(top, #37383a, #252627);
	background-image: -moz-linear-gradient(top, #37383a, #252627);
	background-image: -o-linear-gradient(top, #37383a, #252627);
	background-image: -ms-linear-gradient(top, #37383a, #252627);
	background-image: linear-gradient(top, #37383a, #252627);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#37383a', EndColorStr='#252627');
}

.black-button:active:after {
	background-color: #323435;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#323435), to(#292b2b));
	background-image: -webkit-linear-gradient(top, #323435, #292b2b);
	background-image: -moz-linear-gradient(top, #323435, #292b2b);
	background-image: -o-linear-gradient(top, #323435, #292b2b);
	background-image: -ms-linear-gradient(top, #323435, #292b2b);
	background-image: linear-gradient(top, #323435, #292b2b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#323435', EndColorStr='#292b2b');
}

/* Carbon Grey */

.grey-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #b6b8bc;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #b6b8bc;
	background-color: #a4a7ab;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a4a7ab), to(#787a7f));
	background-image: -webkit-linear-gradient(top, #a4a7ab, #787a7f);
	background-image: -moz-linear-gradient(top, #a4a7ab, #787a7f);
	background-image: -o-linear-gradient(top, #a4a7ab, #787a7f);
	background-image: -ms-linear-gradient(top, #a4a7ab, #787a7f);
	background-image: linear-gradient(top, #a4a7ab, #787a7f);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a4a7ab', EndColorStr='#787a7f');
}

.grey-button {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #abaeb2;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #abaeb2;
}

.grey-button,
.grey-button:active {
	background-color: #979b9f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#979b9f), to(#707277));
	background-image: -webkit-linear-gradient(top, #979b9f, #707277);
	background-image: -moz-linear-gradient(top, #979b9f, #707277);
	background-image: -o-linear-gradient(top, #979b9f, #707277);
	background-image: -ms-linear-gradient(top, #979b9f, #707277);
	background-image: linear-gradient(top, #979b9f, #707277);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#979b9f', EndColorStr='#707277');
}

.grey-button:after {
	background-color: #6c7277;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6c7277), to(#3e3f41));
	background-image: -webkit-linear-gradient(top, #6c7277, #3e3f41);
	background-image: -moz-linear-gradient(top, #6c7277, #3e3f41);
	background-image: -o-linear-gradient(top, #6c7277, #3e3f41);
	background-image: -ms-linear-gradient(top, #6c7277, #3e3f41);
	background-image: linear-gradient(top, #6c7277, #3e3f41);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6c7277', EndColorStr='#3e3f41');
}

.grey-button:active:after {
	background-color: #5d6266;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5d6266), to(#444648));
	background-image: -webkit-linear-gradient(top, #5d6266, #444648);
	background-image: -moz-linear-gradient(top, #5d6266, #444648);
	background-image: -o-linear-gradient(top, #5d6266, #444648);
	background-image: -ms-linear-gradient(top, #5d6266, #444648);
	background-image: linear-gradient(top, #5d6266, #444648);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5d6266', EndColorStr='#444648');
}

/* Plum Purple */

.plum-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #b89ac3;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #b89ac3;
	background-color: #a882b4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a882b4), to(#7b5a92));
	background-image: -webkit-linear-gradient(top, #a882b4, #7b5a92);
	background-image: -moz-linear-gradient(top, #a882b4, #7b5a92);
	background-image: -o-linear-gradient(top, #a882b4, #7b5a92);
	background-image: -ms-linear-gradient(top, #a882b4, #7b5a92);
	background-image: linear-gradient(top, #a882b4, #7b5a92);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a882b4', EndColorStr='#7b5a92');
}

.plum-button {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #af8cba;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #af8cba;
}

.plum-button,
.plum-button:active {
	background-color: #9c74aa;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9c74aa), to(#735489));
	background-image: -webkit-linear-gradient(top, #9c74aa, #735489);
	background-image: -moz-linear-gradient(top, #9c74aa, #735489);
	background-image: -o-linear-gradient(top, #9c74aa, #735489);
	background-image: -ms-linear-gradient(top, #9c74aa, #735489);
	background-image: linear-gradient(top, #9c74aa, #735489);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9c74aa', EndColorStr='#735489');
}

.plum-button:after {
	background-color: #734487;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#734487), to(#402e4c));
	background-image: -webkit-linear-gradient(top, #734487, #402e4c);
	background-image: -moz-linear-gradient(top, #734487, #402e4c);
	background-image: -o-linear-gradient(top, #734487, #402e4c);
	background-image: -ms-linear-gradient(top, #734487, #402e4c);
	background-image: linear-gradient(top, #734487, #402e4c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#734487', EndColorStr='#402e4c');
}

.plum-button:active:after {
	background-color: #643f79;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#643f79), to(#47345a));
	background-image: -webkit-linear-gradient(top, #643f79, #47345a);
	background-image: -moz-linear-gradient(top, #643f79, #47345a);
	background-image: -o-linear-gradient(top, #643f79, #47345a);
	background-image: -ms-linear-gradient(top, #643f79, #47345a);
	background-image: linear-gradient(top, #643f79, #47345a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#643f79', EndColorStr='#47345a');
}

/* Royal Purple */

.purple-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #908dce;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #908dce;
	background-color: #7775c3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7775c3), to(#5251a9));
	background-image: -webkit-linear-gradient(top, #7775c3, #5251a9);
	background-image: -moz-linear-gradient(top, #7775c3, #5251a9);
	background-image: -o-linear-gradient(top, #7775c3, #5251a9);
	background-image: -ms-linear-gradient(top, #7775c3, #5251a9);
	background-image: linear-gradient(top, #7775c3, #5251a9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7775c3', EndColorStr='#5251a9');
}

.purple-button {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #817ec8;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #817ec8;
}

.purple-button,
.purple-button:active {
	background-color: #6b69bb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6b69bb), to(#4d4ca2));
	background-image: -webkit-linear-gradient(top, #6b69bb, #4d4ca2);
	background-image: -moz-linear-gradient(top, #6b69bb, #4d4ca2);
	background-image: -o-linear-gradient(top, #6b69bb, #4d4ca2);
	background-image: -ms-linear-gradient(top, #6b69bb, #4d4ca2);
	background-image: linear-gradient(top, #6b69bb, #4d4ca2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6b69bb', EndColorStr='#4d4ca2');
}

.purple-button:after {
	background-color: #403ea0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#403ea0), to(#2b2972));
	background-image: -webkit-linear-gradient(top, #403ea0, #2b2972);
	background-image: -moz-linear-gradient(top, #403ea0, #2b2972);
	background-image: -o-linear-gradient(top, #403ea0, #2b2972);
	background-image: -ms-linear-gradient(top, #403ea0, #2b2972);
	background-image: linear-gradient(top, #403ea0, #2b2972);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#403ea0', EndColorStr='#2b2972');
}

.purple-button:active:after {
	background-color: #3a3895;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3a3895), to(#302e7d));
	background-image: -webkit-linear-gradient(top, #3a3895, #302e7d);
	background-image: -moz-linear-gradient(top, #3a3895, #302e7d);
	background-image: -o-linear-gradient(top, #3a3895, #302e7d);
	background-image: -ms-linear-gradient(top, #3a3895, #302e7d);
	background-image: linear-gradient(top, #3a3895, #302e7d);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3a3895', EndColorStr='#302e7d');
}

/* PixelBin Blue */

.blue-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #7eaadc;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #7eaadc;
	background-color: #6a96d4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6a96d4), to(#4c6ac1));
	background-image: -webkit-linear-gradient(top, #6a96d4, #4c6ac1);
	background-image: -moz-linear-gradient(top, #6a96d4, #4c6ac1);
	background-image: -o-linear-gradient(top, #6a96d4, #4c6ac1);
	background-image: -ms-linear-gradient(top, #6a96d4, #4c6ac1);
	background-image: linear-gradient(top, #6a96d4, #4c6ac1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6a96d4', EndColorStr='#4c6ac1');
}

.blue-button {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #729ed7;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #729ed7;
}

.blue-button,
.blue-button:active {
	background-color: #5f87cd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5f87cd), to(#4461ba));
	background-image: -webkit-linear-gradient(top, #5f87cd, #4461ba);
	background-image: -moz-linear-gradient(top, #5f87cd, #4461ba);
	background-image: -o-linear-gradient(top, #5f87cd, #4461ba);
	background-image: -ms-linear-gradient(top, #5f87cd, #4461ba);
	background-image: linear-gradient(top, #5f87cd, #4461ba);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5f87cd', EndColorStr='#4461ba');
}

.blue-button:after {
	background-color: #3854b8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3854b8), to(#263596));
	background-image: -webkit-linear-gradient(top, #3854b8, #263596);
	background-image: -moz-linear-gradient(top, #3854b8, #263596);
	background-image: -o-linear-gradient(top, #3854b8, #263596);
	background-image: -ms-linear-gradient(top, #3854b8, #263596);
	background-image: linear-gradient(top, #3854b8, #263596);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3854b8', EndColorStr='#263596');
}

.blue-button:active:after {
	background-color: #344ab1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#344ab1), to(#2a3b9d));
	background-image: -webkit-linear-gradient(top, #344ab1, #2a3b9d);
	background-image: -moz-linear-gradient(top, #344ab1, #2a3b9d);
	background-image: -o-linear-gradient(top, #344ab1, #2a3b9d);
	background-image: -ms-linear-gradient(top, #344ab1, #2a3b9d);
	background-image: linear-gradient(top, #344ab1, #2a3b9d);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#344ab1', EndColorStr='#2a3b9d');
}

/* Azure Blue */

.azure-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #71c3f6;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #71c3f6;
	background-color: #5db5f4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5db5f4), to(#4193ef));
	background-image: -webkit-linear-gradient(top, #5db5f4, #4193ef);
	background-image: -moz-linear-gradient(top, #5db5f4, #4193ef);
	background-image: -o-linear-gradient(top, #5db5f4, #4193ef);
	background-image: -ms-linear-gradient(top, #5db5f4, #4193ef);
	background-image: linear-gradient(top, #5db5f4, #4193ef);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5db5f4', EndColorStr='#4193ef');
}

.azure-button {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #64baf5;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #64baf5;
}

.azure-button,
.azure-button:active {
	background-color: #54abf2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#54abf2), to(#3d8aed));
	background-image: -webkit-linear-gradient(top, #54abf2, #3d8aed);
	background-image: -moz-linear-gradient(top, #54abf2, #3d8aed);
	background-image: -o-linear-gradient(top, #54abf2, #3d8aed);
	background-image: -ms-linear-gradient(top, #54abf2, #3d8aed);
	background-image: linear-gradient(top, #54abf2, #3d8aed);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#54abf2', EndColorStr='#3d8aed');
}

.azure-button:after {
	background-color: #3187ed;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3187ed), to(#204ce4));
	background-image: -webkit-linear-gradient(top, #3187ed, #204ce4);
	background-image: -moz-linear-gradient(top, #3187ed, #204ce4);
	background-image: -o-linear-gradient(top, #3187ed, #204ce4);
	background-image: -ms-linear-gradient(top, #3187ed, #204ce4);
	background-image: linear-gradient(top, #3187ed, #204ce4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3187ed', EndColorStr='#204ce4');
}

.azure-button:active:after {
	background-color: #2d79eb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2d79eb), to(#255be6));
	background-image: -webkit-linear-gradient(top, #2d79eb, #255be6);
	background-image: -moz-linear-gradient(top, #2d79eb, #255be6);
	background-image: -o-linear-gradient(top, #2d79eb, #255be6);
	background-image: -ms-linear-gradient(top, #2d79eb, #255be6);
	background-image: linear-gradient(top, #2d79eb, #255be6);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2d79eb', EndColorStr='#255be6');
}

/* Bubblegum Pink */

.pink-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #f9acb9;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #f9acb9;
	background-color: #f898a9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f898a9), to(#f66a7c));
	background-image: -webkit-linear-gradient(top, #f898a9, #f66a7c);
	background-image: -moz-linear-gradient(top, #f898a9, #f66a7c);
	background-image: -o-linear-gradient(top, #f898a9, #f66a7c);
	background-image: -ms-linear-gradient(top, #f898a9, #f66a7c);
	background-image: linear-gradient(top, #f898a9, #f66a7c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f898a9', EndColorStr='#f66a7c');
}

.pink-button {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #f8a0b0;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #f8a0b0;
}

.pink-button,
.pink-button:active {
	background-color: #f78a9d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f78a9d), to(#f56475));
	background-image: -webkit-linear-gradient(top, #f78a9d, #f56475);
	background-image: -moz-linear-gradient(top, #f78a9d, #f56475);
	background-image: -o-linear-gradient(top, #f78a9d, #f56475);
	background-image: -ms-linear-gradient(top, #f78a9d, #f56475);
	background-image: linear-gradient(top, #f78a9d, #f56475);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f78a9d', EndColorStr='#f56475');
}

.pink-button:after {
	background-color: #f45874;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f45874), to(#f03740));
	background-image: -webkit-linear-gradient(top, #f45874, #f03740);
	background-image: -moz-linear-gradient(top, #f45874, #f03740);
	background-image: -o-linear-gradient(top, #f45874, #f03740);
	background-image: -ms-linear-gradient(top, #f45874, #f03740);
	background-image: linear-gradient(top, #f45874, #f03740);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f45874', EndColorStr='#f03740');
}

.pink-button:active:after {
	background-color: #f24b64;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f24b64), to(#f13d47));
	background-image: -webkit-linear-gradient(top, #f24b64, #f13d47);
	background-image: -moz-linear-gradient(top, #f24b64, #f13d47);
	background-image: -o-linear-gradient(top, #f24b64, #f13d47);
	background-image: -ms-linear-gradient(top, #f24b64, #f13d47);
	background-image: linear-gradient(top, #f24b64, #f13d47);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f24b64', EndColorStr='#f13d47');
}

/* Juicy Red */

.red-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #ed895a;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #ed895a;
	background-color: #e9724b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9724b), to(#df4f33));
	background-image: -webkit-linear-gradient(top, #e9724b, #df4f33);
	background-image: -moz-linear-gradient(top, #e9724b, #df4f33);
	background-image: -o-linear-gradient(top, #e9724b, #df4f33);
	background-image: -ms-linear-gradient(top, #e9724b, #df4f33);
	background-image: linear-gradient(top, #e9724b, #df4f33);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e9724b', EndColorStr='#df4f33');
}

.red-button {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #eb794f;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #eb794f;
}

.red-button,
.red-button:active {
	background-color: #e66643;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e66643), to(#dd4a30));
	background-image: -webkit-linear-gradient(top, #e66643, #dd4a30);
	background-image: -moz-linear-gradient(top, #e66643, #dd4a30);
	background-image: -o-linear-gradient(top, #e66643, #dd4a30);
	background-image: -ms-linear-gradient(top, #e66643, #dd4a30);
	background-image: linear-gradient(top, #e66643, #dd4a30);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e66643', EndColorStr='#dd4a30');
}

.red-button:after {
	background-color: #dc3d27;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dc3d27), to(#cb291a));
	background-image: -webkit-linear-gradient(top, #dc3d27, #cb291a);
	background-image: -moz-linear-gradient(top, #dc3d27, #cb291a);
	background-image: -o-linear-gradient(top, #dc3d27, #cb291a);
	background-image: -ms-linear-gradient(top, #dc3d27, #cb291a);
	background-image: linear-gradient(top, #dc3d27, #cb291a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dc3d27', EndColorStr='#cb291a');
}

.red-button:active:after {
	background-color: #d63724;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d63724), to(#cf2d1d));
	background-image: -webkit-linear-gradient(top, #d63724, #cf2d1d);
	background-image: -moz-linear-gradient(top, #d63724, #cf2d1d);
	background-image: -o-linear-gradient(top, #d63724, #cf2d1d);
	background-image: -ms-linear-gradient(top, #d63724, #cf2d1d);
	background-image: linear-gradient(top, #d63724, #cf2d1d);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d63724', EndColorStr='#cf2d1d');
}

/* Tangy Orange */

.orange-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #fec04e;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #fec04e;
	background-color: #feb23f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#feb23f), to(#fe8a2d));
	background-image: -webkit-linear-gradient(top, #feb23f, #fe8a2d);
	background-image: -moz-linear-gradient(top, #feb23f, #fe8a2d);
	background-image: -o-linear-gradient(top, #feb23f, #fe8a2d);
	background-image: -ms-linear-gradient(top, #feb23f, #fe8a2d);
	background-image: linear-gradient(top, #feb23f, #fe8a2d);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#feb23f', EndColorStr='#fe8a2d');
}

.orange-button {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #feb646;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #feb646;
}

.orange-button,
.orange-button:active {
	background-color: #fea638;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fea638), to(#fe812a));
	background-image: -webkit-linear-gradient(top, #fea638, #fe812a);
	background-image: -moz-linear-gradient(top, #fea638, #fe812a);
	background-image: -o-linear-gradient(top, #fea638, #fe812a);
	background-image: -ms-linear-gradient(top, #fea638, #fe812a);
	background-image: linear-gradient(top, #fea638, #fe812a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fea638', EndColorStr='#fe812a');
}

.orange-button:after {
	background-color: #fe8122;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fe8122), to(#fe4717));
	background-image: -webkit-linear-gradient(top, #fe8122, #fe4717);
	background-image: -moz-linear-gradient(top, #fe8122, #fe4717);
	background-image: -o-linear-gradient(top, #fe8122, #fe4717);
	background-image: -ms-linear-gradient(top, #fe8122, #fe4717);
	background-image: linear-gradient(top, #fe8122, #fe4717);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fe8122', EndColorStr='#fe4717');
}

.orange-button:active:after {
	background-color: #fe721f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fe721f), to(#fe511a));
	background-image: -webkit-linear-gradient(top, #fe721f, #fe511a);
	background-image: -moz-linear-gradient(top, #fe721f, #fe511a);
	background-image: -o-linear-gradient(top, #fe721f, #fe511a);
	background-image: -ms-linear-gradient(top, #fe721f, #fe511a);
	background-image: linear-gradient(top, #fe721f, #fe511a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fe721f', EndColorStr='#fe511a');
}

/* Leafy Green */

.green-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #9aceb3;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #9aceb3;
	background-color: #82c3a1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#82c3a1), to(#5aa874));
	background-image: -webkit-linear-gradient(top, #82c3a1, #5aa874);
	background-image: -moz-linear-gradient(top, #82c3a1, #5aa874);
	background-image: -o-linear-gradient(top, #82c3a1, #5aa874);
	background-image: -ms-linear-gradient(top, #82c3a1, #5aa874);
	background-image: linear-gradient(top, #82c3a1, #5aa874);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#82c3a1', EndColorStr='#5aa874');
}

.green-button {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #8cc8a8;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #8cc8a8;
}

.green-button,
.green-button:active {
	background-color: #74bb93;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74bb93), to(#54a06c));
	background-image: -webkit-linear-gradient(top, #74bb93, #54a06c);
	background-image: -moz-linear-gradient(top, #74bb93, #54a06c);
	background-image: -o-linear-gradient(top, #74bb93, #54a06c);
	background-image: -ms-linear-gradient(top, #74bb93, #54a06c);
	background-image: linear-gradient(top, #74bb93, #54a06c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#74bb93', EndColorStr='#54a06c');
}

.green-button:after {
	background-color: #449e65;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#449e65), to(#2e703b));
	background-image: -webkit-linear-gradient(top, #449e65, #2e703b);
	background-image: -moz-linear-gradient(top, #449e65, #2e703b);
	background-image: -o-linear-gradient(top, #449e65, #2e703b);
	background-image: -ms-linear-gradient(top, #449e65, #2e703b);
	background-image: linear-gradient(top, #449e65, #2e703b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#449e65', EndColorStr='#2e703b');
}

.green-button:active:after {
	background-color: #3e9256;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3e9256), to(#347b42));
	background-image: -webkit-linear-gradient(top, #3e9256, #347b42);
	background-image: -moz-linear-gradient(top, #3e9256, #347b42);
	background-image: -o-linear-gradient(top, #3e9256, #347b42);
	background-image: -ms-linear-gradient(top, #3e9256, #347b42);
	background-image: linear-gradient(top, #3e9256, #347b42);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3e9256', EndColorStr='#347b42');
}