body {
	font: 15px "Helvetica Neue", Helvetica, Arial;
	font-weight: 300;
	line-height: 1.5;
	width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: #000;
	font:100% Oswald, Helvetica;
}

h2 {
	margin: 10px 0;
	font-size: 20px;
}

a {
	color: #B83F45;
	font-weight:bold;
}

a:hover {
	color: #787e7e;
}

.nav-tabs > li > a, .nav-pills > li > a{
	line-height:23px;
}

p {
	/*font: 100% Merriweather, Georgia;*/
	font-size:14px;
	line-height: 1.5;
	font-weight: 300;
}

hr {
	border-top: 1px dashed #C5C5C5;
	border-bottom: 1px dashed #F7F7F7;
}

header h1 {
	font-size: 100px;
	line-height: 1.2;
	/*text-shadow: 2px 2px 1px #7D2A2F;*/
	font-weight: 900;
}

header p {
	font-size: 30px;
}

header .btn-large {
	font-size: 20px;
	margin-right: 10px;
}

header nav {
	margin: 20px 0;
}

header nav a {
	margin-right: 5px;
}

.logo{
	margin-top:70px;
}

.nav-tabs > li, .nav-pills > li{
	clear:both;
}

.vertical-space li {
	margin: 5px 0;
	line-height: inherit;
}

.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.hero-unit {
	padding: 0;
	margin: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #f5f5f5;
}

.hero-unit h1 {
	font-size: 80px;
	margin-bottom: 10px;
}

.hero-unit p {
	font-size: 24px;
	line-height: 32px;
}

.hero-unit .btn-large {
	font-size: 20px;
	font-weight: normal;
	padding: 14px 24px;
	width: 160px;
}

.hero-unit .btn-large:first-child {
	margin-right: 10px;
}

.hero-unit nav {
	margin-top: 35px;
	margin-bottom: 10px;
}

.screenshot {
	width: 528px;
	float: right;
}

.header-title {
	margin: 43px 60px;
	float: none;
}

.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.nav-pills {
	margin-left: -10px;
}

#icon {
	float: right;
}

#screenshot {
	width: 100%;
	height: auto;
	max-width: 570px;
	margin-top: 50px;
}

#app-preview {
	display: none;
	margin-top: 43px;
	margin-left: -25px;
}

#demos {
	display: inline-block;
}

#demos ul {
	float: left;
}

#demos ul li {
	float: none;
}

#demos ul li a {
	position: relative;
}

#demos .popover {
	margin: 0;
	cursor: default;
	color: #333;
}

#demos .popover-title {
	padding: 9px 70px 9px 15px;
}

#demos .popover-title a {
	font-size: 13px;
	line-height: 18px;
	position: absolute;
	top: 16px;
	right: 20px;
}

.applist a {
	white-space: nowrap;
}

.applist .label {
	font-size: 9px;
	padding: 1px 3px 1px;
	background-color: rgba(0, 0, 0, .2);
}

.credit a {
	margin: 0 5px;
}

.credit a img {
	border-radius: 3px;
	margin-right: 5px;
}

.zocial.red {
	background-color: #a82400;
}

.zocial.black {
	background-color: #333;
}

.zocial,
a.zocial {
	border: 1px solid #777;
	border-color: rgba(0, 0, 0, 0.2);
	border-bottom-color: #333;
	border-bottom-color: rgba(0, 0, 0, 0.4);
	color: white;
	box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.3),
				inset 0 0 0.1em rgba(255, 255, 255, 0.9),
				0 1px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: inline-block;
	font: bold 100%/2.1 "Helvetica Neue", Helvetica, Arial;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position: relative;
	border-radius: .3em;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
	background-image:    -moz-linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
	background-image:     -ms-linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
	background-image:      -o-linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
	background-image:         linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
}

@media (max-width: 480px) {
	#demos ul {
		float: none;
	}
}

@media (min-width: 768px) and (max-width: 980px) {
	.screenshot {
		width: 420px;
	}
	.header-title h1 {
		font-size: 60px;
	}
}

@media (max-width: 768px) {
	.screenshot {
		max-width: 528px !important;
		margin: 0 auto !important;
	}
	.header-title {
		margin: 30px !important;
		text-align: center;
		max-width: 540px;
		margin: 30px auto !important;
	}
	.header-title h1 {
		font-size: 60px;
	}
	#demos ul {
		margin: 0;
		font-size: 16px;
	}
}

@media (max-width: 1200px) {
	.header-title {
		margin: 20px;
	}
	.hero-unit .btn-large {
		margin: 5px;
	}
}