body {
	font: 15px "Helvetica Neue", Helvetica, Arial;
	font-weight: 300;
	line-height: 1.5;
	width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: #000;
	font:100% Oswald, Helvetica;
}

h2 {
	margin: 10px 0;
	font-size: 20px;
}

a {
	color: #B83F45;
	font-weight:bold;
}

a:hover {
	color: #787e7e;
}

.nav-tabs > li > a, .nav-pills > li > a{
	line-height:23px;
}

p {
	/*font: 100% Merriweather, Georgia;*/
	font-size:14px;
	line-height: 1.5;
	font-weight: 300;
}

hr {
	border-top: 1px dashed #C5C5C5;
	border-bottom: 1px dashed #F7F7F7;
}

header h1 {
	font-size: 100px;
	line-height: 1.2;
	/*text-shadow: 2px 2px 1px #7D2A2F;*/
	font-weight: 900;
}

header p {
	font-size: 30px;
}

header .btn-large {
	font-size: 20px;
	margin-right: 10px;
}

header nav {
	margin: 20px 0;
}

.logo{
	margin-top:70px;
}

.nav-tabs > li, .nav-pills > li{
	clear:both;
}

.btn {
	background: #fafafa;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.btn:active {
	position: relative;
	top: 1px;
	left: 1px;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.btn:hover {
	background: #fafafa;
}

.btn.btn-primary {
	background: #ad6e7f;
	box-shadow: 2px 2px 0 #594a43;
}

.btn.btn-primary:active {
	background: #ad6e7f;
	box-shadow: 1px 1px 0 #594a43;
}

.vertical-space li {
	margin: 5px 0;
	line-height: inherit;
}

.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.hero-unit {
	padding: 0;
	margin: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #f5f5f5;
}

.hero-unit h1 {
	font-size: 80px;
	margin-bottom: 10px;
}

.hero-unit p {
	font-size: 24px;
	line-height: 32px;
}

.hero-unit .btn-large {
	font-size: 20px;
	font-weight: normal;
	padding: 14px 24px;
	width: 160px;
}

.hero-unit .btn-large:first-child {
	margin-right: 10px;
}

.hero-unit nav {
	margin-top: 35px;
	margin-bottom: 10px;
}

.screenshot {
	width: 528px;
	float: right;
}

.header-title {
	margin: 43px 60px;
	float: none;
}

.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.nav-pills {
	margin-left: -10px;
}

#icon {
	float: right;
}

#screenshot {
	width: 100%;
	height: auto;
	max-width: 570px;
	margin-top: 50px;
}

#app-preview {
	display: none;
	margin-top: 43px;
	margin-left: -25px;
}

#demos {
	display: inline-block;
}

#demos ul {
	float: left;
}

#demos ul li {
	float: none;
}

#demos ul li a {
	position: relative;
}

#demos .popover {
	margin: 0;
	cursor: default;
	color: #333;
}

#demos .popover-title {
	padding: 9px 70px 9px 15px;
}

#demos .popover-title a {
	font-size: 13px;
	line-height: 18px;
	position: absolute;
	top: 16px;
	right: 20px;
}




.credit a {
	margin: 0 5px;
}

.credit a img {
	border-radius: 3px;
	margin-right: 5px;
}

#contributor-list {
	display: none;
	font-size: 13px;
}

@media (max-width: 480px) {
	#demos ul {
		float: none;
	}
}

@media (min-width: 768px) and (max-width: 980px) {
	.screenshot {
		width: 420px;
	}
	.header-title h1 {
		font-size: 60px;
	}
}

@media (max-width: 768px) {
	.screenshot {
		max-width: 528px !important;
		margin: 0 auto !important;
	}
	.header-title {
		margin: 30px !important;
		text-align: center;
		max-width: 540px;
		margin: 30px auto !important;
	}
	.header-title h1 {
		font-size: 60px;
	}
	#demos ul {
		margin: 0;
		font-size: 16px;
	}
}

@media (max-width: 1200px) {
	.header-title {
		margin: 20px;
	}
	.hero-unit .btn-large {
		margin: 5px;
	}
}


.navbar{
	background-color: #CF5258;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 119, 119, .8)), to(rgba(255, 73, 73, .2)));
	background-image: -webkit-linear-gradient(rgba(255, 119, 119, .8), rgba(255, 73, 73, .2));
	background-image: -moz-linear-gradient(rgba(255, 119, 119, .8), rgba(255, 73, 73, .2));
	background-image: -o-linear-gradient(rgba(255, 119, 119, .8), rgba(255, 73, 73, .2));
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
	text-shadow: 0 -1px 1px rgba(146, 46, 46, .7);
	-webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
	-moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
	-o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
	transition: background-color .2s ease-in-out, transform .1s ease-in-out;
	padding-left:10px;
}



.button {
	display: inline-block;
	margin: 10px;
	border-radius: 8px;
	font-size: 16px;
	color: #fff;
	box-shadow: 0 8px 0 #C53737, 0 15px 20px rgba(0, 0, 0, .35);
	-webkit-transition: -webkit-box-shadow .1s ease-in-out;
	-moz-transition: -moz-box-shadow .1s ease-in-out;
	-o-transition: -o-box-shadow .1s ease-in-out;
	transition: box-shadow .1s ease-in-out;
}

.button span {
	display: inline-block;
	padding: 13px 26px;
	background-color: #CF5258;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 119, 119, .8)), to(rgba(255, 73, 73, .2)));
	background-image: -webkit-linear-gradient(rgba(255, 119, 119, .8), rgba(255, 73, 73, .2));
	background-image: -moz-linear-gradient(rgba(255, 119, 119, .8), rgba(255, 73, 73, .2));
	background-image: -o-linear-gradient(rgba(255, 119, 119, .8), rgba(255, 73, 73, .2));
	border-radius: 8px;
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
	font-family: 'Pacifico', Arial, sans-serif;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(146, 46, 46, .7);
	-webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
	-moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
	-o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
	transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
	background-color: #e45b62;
	color: #fff;
}

.button:active, .button:focus {
	box-shadow: 0 8px 0 #aa3030, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	-o-transform: translate(0, 4px);
	transform: translate(0, 4px);
}

.button small {
	color: #666;
	font-size: 12px;
}



/*****************************/

.aquarius-base {
	/*
	border: 1px solid #1E72A1;
	background: #84E4F6;
	background: -moz-linear-gradient(top, rgba(132, 228, 246, 1) 1%, rgba(68, 175, 228, 1) 2%, rgba(47, 138, 216, 1) 96%, rgba(53, 159, 223, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(132, 228, 246, 1)), color-stop(2%,rgba(68, 175, 228, 1)), color-stop(96%,rgba(47, 138, 216, 1)), color-stop(100%,rgba(53, 159, 223, 1)));
	background: -webkit-linear-gradient(top, rgba(132, 228, 246, 1) 1%,rgba(68, 175, 228, 1) 2%,rgba(47, 138, 216, 1) 96%,rgba(53, 159, 223, 1) 100%);
	background: -o-linear-gradient(top, rgba(132, 228, 246, 1) 1%,rgba(68, 175, 228, 1) 2%,rgba(47, 138, 216, 1) 96%,rgba(53, 159, 223, 1) 100%);
	background: -ms-linear-gradient(top, rgba(132, 228, 246, 1) 1%,rgba(68, 175, 228, 1) 2%,rgba(47, 138, 216, 1) 96%,rgba(53, 159, 223, 1) 100%);
	background: linear-gradient(top, rgba(132, 228, 246, 1) 1%,rgba(68, 175, 228, 1) 2%,rgba(47, 138, 216, 1) 96%,rgba(53, 159, 223, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84e4f6', endColorstr='#359fdf',GradientType=0 );
	border-top: 1px solid #2077A5;
	border-bottom: 1px solid #124E7E;
	*/
	background:#111;
}

.aquarius-buttonholder{
	height: 60px;
	width: 360px;
	padding: 7px 10px 7px 20px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.26) 1%, rgba(255, 255, 255, 0.26) 96%, rgba(255, 255, 255, 0.26) 98%, rgba(255, 255, 255, 0.35) 99%, rgba(255, 255, 255, 0.44) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(1%,rgba(255, 255, 255, 0.26)), color-stop(96%,rgba(255, 255, 255, 0.26)), color-stop(98%,rgba(255, 255, 255, 0.26)), color-stop(99%,rgba(255, 255, 255, 0.35)), color-stop(100%,rgba(255, 255, 255, 0.44)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0.26) 1%,rgba(255, 255, 255, 0.26) 96%,rgba(255, 255, 255, 0.26) 98%,rgba(255, 255, 255, 0.35) 99%,rgba(255, 255, 255, 0.44) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0.26) 1%,rgba(255, 255, 255, 0.26) 96%,rgba(255, 255, 255, 0.26) 98%,rgba(255, 255, 255, 0.35) 99%,rgba(255, 255, 255, 0.44) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0.26) 1%,rgba(255, 255, 255, 0.26) 96%,rgba(255, 255, 255, 0.26) 98%,rgba(255, 255, 255, 0.35) 99%,rgba(255, 255, 255, 0.44) 100%);
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0.26) 1%,rgba(255, 255, 255, 0.26) 96%,rgba(255, 255, 255, 0.26) 98%,rgba(255, 255, 255, 0.35) 99%,rgba(255, 255, 255, 0.44) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#70ffffff',GradientType=0 );
	-webkit-box-shadow: 0px 1px 5px -1px rgba(20, 20, 20, 0.8);
	box-shadow: 0px 1px 5px -1px rgba(20, 20, 20, 0.8);
}

.aquarius-button{
	padding: 15px 22px;
	top: 14px;
	position: relative;
	color:white;
	-webkit-border-radius: 3px;
	-webkit-font-smoothing: antialiased;
	border-radius: 3px;
	border: 1px solid #1E72A1;
	background: #84E4F6;
	background: -moz-linear-gradient(top, rgba(132, 228, 246, 1) 1%, rgba(68, 175, 228, 1) 2%, rgba(47, 138, 216, 1) 96%, rgba(53, 159, 223, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(132, 228, 246, 1)), color-stop(2%,rgba(68, 175, 228, 1)), color-stop(96%,rgba(47, 138, 216, 1)), color-stop(100%,rgba(53, 159, 223, 1)));
	background: -webkit-linear-gradient(top, rgba(132, 228, 246, 1) 1%,rgba(68, 175, 228, 1) 2%,rgba(47, 138, 216, 1) 96%,rgba(53, 159, 223, 1) 100%);
	background: -o-linear-gradient(top, rgba(132, 228, 246, 1) 1%,rgba(68, 175, 228, 1) 2%,rgba(47, 138, 216, 1) 96%,rgba(53, 159, 223, 1) 100%);
	background: -ms-linear-gradient(top, rgba(132, 228, 246, 1) 1%,rgba(68, 175, 228, 1) 2%,rgba(47, 138, 216, 1) 96%,rgba(53, 159, 223, 1) 100%);
	background: linear-gradient(top, rgba(132, 228, 246, 1) 1%,rgba(68, 175, 228, 1) 2%,rgba(47, 138, 216, 1) 96%,rgba(53, 159, 223, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84e4f6', endColorstr='#359fdf',GradientType=0 );
	border-top: 1px solid #2077A5;
	border-bottom: 1px solid #124E7E;
	font-weight: bold;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}
