<span id="todo-count"><strong>{{remaining}}</strong> {{itemText}} left</span>
<ul id="filters">
  <li>
    {{#link "/" class="selected"}}All{{/link}}
  </li>
  <li>
    {{#link "/active"}}Active{{/link}}
  </li>
  <li>
    {{#link "/completed"}}Completed{{/link}}
  </li>
</ul>
{{#if completed}}
  <button id="clear-completed">Clear completed ({{completed}})</button>
{{/if}}
