/* base.css overrides */

input#new-todo.error {
  background: -moz-linear-gradient(top,  rgba(226,4,8,0.06) 0%, rgba(109,0,25,0.13) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,4,8,0.06)), color-stop(100%,rgba(109,0,25,0.13))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(226,4,8,0.06) 0%,rgba(109,0,25,0.13) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(226,4,8,0.06) 0%,rgba(109,0,25,0.13) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(226,4,8,0.06) 0%,rgba(109,0,25,0.13) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(226,4,8,0.06) 0%,rgba(109,0,25,0.13) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fe20408', endColorstr='#216d0019',GradientType=0 ); /* IE6-9 */
}
