<!DOCTYPE html>
<html lang="en" data-framework="backbone">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="A TodoMVC written in Backbone." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>TodoMVC: Backbone</title>
        <link rel="stylesheet" href="node_modules/todomvc-common/base.css" />
        <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css" />
    </head>
    <body>
        <section class="todoapp">
            <header class="header">
                <h1>todos</h1>
                <input class="new-todo" placeholder="What needs to be done?" autofocus />
            </header>
            <main class="main">
                <div class="toggle-all-container">
                    <input class="toggle-all" id="toggle-all" type="checkbox" />
                    <label for="toggle-all">Mark all as complete</label>
                </div>
                <ul class="todo-list"></ul>
            </main>
            <footer class="footer"></footer>
        </section>
        <footer class="info">
            <p>Double-click to edit a todo</p>
			<p>Created by the TodoMVC Team</p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </footer>
        <script type="text/template" id="item-template">
            <div class="view">
                <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
                <label><%- title %></label>
                <button class="destroy"></button>
            </div>
            <input class="edit" value="<%- title %>">
        </script>
        <script type="text/template" id="stats-template">
            <span class="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
            <ul class="filters">
                <li>
                    <a class="selected" href="#/">All</a>
                </li>
                <li>
                    <a href="#/active">Active</a>
                </li>
                <li>
                    <a href="#/completed">Completed</a>
                </li>
            </ul>
            <% if (completed) { %>
            <button class="clear-completed">Clear completed</button>
            <% } %>
        </script>
		<script src="node_modules/todomvc-common/base.js"></script>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/underscore/underscore-min.js"></script>
        <script src="node_modules/backbone/backbone-min.js"></script>
        <script src="src/sync/backbone.sync.js"></script>
        <script src="src/models/todo.js"></script>
        <script src="src/collections/todos.js"></script>
        <script src="src/views/todo-view.js"></script>
        <script src="src/views/app-view.js"></script>
        <script src="src/routers/router.js"></script>
        <script src="src/app.js"></script>
        <script>
            window.Backbone.sync = () => {};
        </script>
    </body>
</html>
