<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>AngularJS • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body data-ng-app="todomvc">
		<ng-view />
		<script type="text/ng-template" id="todomvc-index.html">
			<section id="todoapp">
				<header id="header">
					<h1>todos</h1>
					<form id="todo-form" data-ng-submit="vm.addTodo()">
						<input id="new-todo"
                   placeholder="What needs to be done?"
                   data-ng-model="vm.newTodo"
                   data-ng-disabled="vm.saving"
                   autofocus>
					</form>
				</header>
				<section id="main" data-ng-show="vm.todos.length" data-ng-cloak>
					<input id="toggle-all" type="checkbox" data-ng-model="vm.allChecked" data-ng-click="vm.markAll(vm.allChecked)">
					<label for="toggle-all">Mark all as complete</label>
					<ul id="todo-list">
						<li data-ng-repeat="todo in vm.todos | filter:vm.statusFilter track by $index" data-ng-class="{completed: todo.completed, editing: todo == vm.editedTodo}">
							<div class="view">
								<input class="toggle" type="checkbox" data-ng-model="todo.completed" data-ng-change="vm.toggleCompleted(todo)">
								<label data-ng-dblclick="vm.editTodo(todo)">{{todo.title}}</label>
								<button class="destroy" data-ng-click="vm.removeTodo(todo)"></button>
							</div>
							<form data-ng-submit="vm.saveEdits(todo, 'submit')">
								<input class="edit"
                       data-ng-trim="false"
                       data-ng-model="todo.title"
                       data-escape="vm.revertEdits(todo)"
                       data-ng-blur="vm.saveEdits(todo, 'blur')"
                       data-focus="todo == vm.editedTodo">
							</form>
						</li>
					</ul>
				</section>
				<footer id="footer" data-ng-show="vm.todos.length" data-ng-cloak>
					<span id="todo-count"><strong>{{vm.remainingCount}}</strong>
						<ng-pluralize count="vm.remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
					<ul id="filters">
						<li>
							<a data-ng-class="{selected: vm.status == ''} " href="#/">All</a>
						</li>
						<li>
							<a data-ng-class="{selected: vm.status == 'active'}" href="#/active">Active</a>
						</li>
						<li>
							<a data-ng-class="{selected: vm.status == 'completed'}" href="#/completed">Completed</a>
						</li>
					</ul>
					<button id="clear-completed"
                  data-ng-click="vm.clearCompletedTodos()"
                  data-ng-show="vm.completedCount">
            Clear completed
          </button>
				</footer>
			</section>
			<footer id="info">
				<p>Double-click to edit a todo</p>
				<p>Credits:
					<a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
					<a href="http://ericbidelman.com">Eric Bidelman</a>,
					<a href="http://jacobmumm.com">Jacob Mumm</a> and
					<a href="http://igorminar.com">Igor Minar</a>
				</p>
				<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
			</footer>
		</script>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-route/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/todo.controller.js"></script>
		<script src="js/services/storage.service.js"></script>
		<script src="js/services/local-storage.service.js"></script>
		<script src="js/services/api.service.js"></script>
		<script src="js/directives/focus.directive.js"></script>
		<script src="js/directives/escape.directive.js"></script>
	</body>
</html>
