{{#collection id="todo-list" contentBinding="Todos.todosController" tagName="ul" itemClassBinding="content.completed content.editing" }}
	{{#unless content.editing}}
		{{#view Todos.todosController.todoView contentBinding="content" }}
			{{view Ember.Checkbox valueBinding="content.completed" class="toggle"}}
				{{#view Ember.View tagName="label" todoBinding="content"}}
					{{todo.title}}
				{{/view}}
			{{view Ember.Button target="Todos.todosController" action="removeObject" class="destroy" todoBinding="content"}}
		{{/view}}
	{{else}}
		{{view Todos.todosController.todoEditor todoBinding="content" valueBinding="content.title"}}
	{{/unless}}
{{/collection}}
