.sapUiDtOverlay {
	position : absolute;
}

.sapUiDtDummyScrollContainer {
	position: absolute;
	top: 0;
	left: 0;
}

.sapUiDtOverlayDroppable {
	outline : 1px dashed green;
}

.sapUiDtOverlaySelected {
	outline: 1px solid #35F;
}

.sapUiDtOverlayDraggable {
	cursor: move;
}

#overlay-container {
	// to prevent overlay's height from expanding the body
	position: fixed;
	top: 0;
	left: 0;
}

.sapUiDtDragGhostWrapper {
	position: fixed;
	pointer-events: none;
}

/* fix for chrome */
.sap-desktop[data-sap-ui-browser^="cr"] {

	.sapUiDtDragGhostWrapper {
		padding-right: 500px;
		padding-bottom: 500px;
		bottom: -1000px;
	}

}