*.sublime-project
*.sublime-workspace
*.map
.sass-cache
.bin

node_modules/bff-lib/*
!node_modules/bff-lib/dist/
node_modules/bff-lib/dist/prod

node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common/*
!node_modules/todomvc-common/base.css
!node_modules/todomvc-common/base.js

node_modules/requirejs/*
!node_modules/requirejs/require.js

node_modules/requirejs-text/*
!node_modules/requirejs-text/text.js

node_modules/dot/*
!node_modules/dot/doT.js

node_modules/director/*
!node_modules/director/build
node_modules/director/build/*
!node_modules/director/build/director.js
