<section id="todoapp">
    <header lazo-cmp-container="h-cmp" id="header"></header>
    <section lazo-cmp-container="m-cmp" id="main"></section>
    <footer lazo-cmp-container="f-cmp" id="footer"></footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>
        Created by <a href="https://github.com/jstrimpel">Jason Strimpel</a> using
        <a href="https://github.com/walmartlabs/lazojs">Lazo</a>
    </p>
    <p>
        View individual components:
        <a href="/header" lazo-navigate>header</a> |
        <a href="/main" lazo-navigate>main</a> |
        <a href="/footer" lazo-navigate>footer</a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>