{namespace todomvc.templates}


/**
 */
{template .todoItem}
<li>
	<div class="view">
		<input class="toggle" type="checkbox">
		<label></label>
		<button class="destroy"></button>
	</div>
	<input class="edit" type="text">
</li>
{/template}


/**
 * use template for the 's' logic.
 * Used in autobind so gets data under model namespace.
 *
 * @param model
 */
{template .itemsLeft}
<strong>{$model['active']}</strong> item{if $model['active'] != 1}s{/if} left
{/template}
