<div class="topbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="./index.html">TodoMVC - Made with
          ClojureScriptOne MVC</a>
          <div class="nav-collapse collapse">
            <ul class="nav" id="navigation">
              <li class="home">
                <a href="/">Accueil</a>
              </li>
              <li class="design">
                <a href="/design.html">Design</a>
              </li>
              <li class="development">
                <a href="/development">Development</a>
              </li>
              <li class="fresh">
                <a href="/fresh">Refresh</a>
              </li>
              <li class="production">
                <a href="/production">Production</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
</div>
