<_within file="application.html">

<div id="content" style="width:960px;margin: 0 auto;">
  <div id="index-header" class="section">
    <h1>Hello, ClojureScript!</h1>
    <p>
    Congratulations! You have a working development environment. When
    you are tired of looking at this page, you may change it by
    editing the file <code>public/index.html</code>. If you have not
    already done so, please read
    the <a href="https://github.com/brentonashworth/one/wiki" target="docs">wiki
    documentation</a> for this project. Once you understand how
    everything works, delete the sample application and start building
    your own. There are three main views of your application...
    </p>
  </div>

  <div class="section panel-index">
    <h2>Design</h2>
    <p>
    Static views of HTML for this project. Organize templates any
    way you like. Template files are located in
    the <code>templates</code> directory.
    <p><a class="button green" href="/design.html">Design &raquo;</a></p>
  </div>

  <div class="section panel-index">
    <h2>Development</h2>
    <p>
    Connect to the application from a browser-connected REPL and
    modify the running application. Each input JavaScript file is
    loaded separately for easier debugging.
    </p>
    <p><a class="button green" href="/development">Development &raquo;</a></p>
  </div>

  <div class="section panel-index">
    <h2>Production</h2>
    <p>
    Test advanced compilation. All dead JavaScript code is removed and
    the result in minified into one small JavaScript file.
    </p>
    <p><a class="button green" href="/production">Production &raquo;</a></p>
  </div>
</div>

</_within>
