<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title><%= application_name %> Build Page</title>
	</head>
	<body>
	    <h1><%= application_name %> Build Page</h1>
		<p>This is a dummy page that loads your app so steal can
		   get all the files.  
		</p>
		<p>If you built your app
		   to depend on HTML in the page before DOMContent loaded or 
		   onload, you can add the HTML here, or you can change the
		   build.js script to point to a better html file.
		</p>
		<script type='text/javascript' 
	    src='../<%= path_to_steal %>/steal/steal.js?<%= path %>'>	 
        </script>
	</body>
</html>