body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div, h1, span {
    outline: none;
}

#todo {
    width: 480px;
    padding: 20px;
    color: #333333;
    margin: 0 auto 40px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    line-height: 1;
    font-size: 36px;
    text-align: center;
    padding: 20px 0 30px;
}

.credits {
    color: #999;
    font-size: 0.9em;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.credits a, .credits a:visited {
    color: #888;
}

input[type="text"] {
    padding: 6px;
    width: 466px !important;
    margin: 0 auto;
    font-size: 24px;
    border: 1px solid #999999;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
}

.row {
    font-size: 1.7em;
    padding: 20px 0 10px;
    border-bottom: 1px solid #CCCCCC;
}

.row input[type="checkbox"] {
    vertical-align: middle;
}

.row span {
    cursor: pointer;
    margin-left: 5px;
}

.row span.checked {
    color: #777777;
    text-decoration: line-through;
}

.x-toolbar {
    color: #555555;
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #F4FCE8;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #EDEDED;
}

.x-toolbar .x-container {
    height: 21px;
}

.x-toolbar button {
    float: right;
    width: 170px;
    border: 0 none;
    color: #555555;
    cursor: pointer;
    border-radius: 12px;
    padding: 3px 10px 4px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.x-toolbar .x-over button {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

.x-toolbar .x-pressed button {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.x-clear {
    clear: both;
}