node_modules/jquery
!node_modules/jquery/dist/jquery.js

node_modules/director
!node_modules/director/build/director.js

node_modules/handlebars
!node_modules/handlebars/handlebars.js

node_modules/todomvc-app-css
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common
!node_modules/todomvc-common/base.js
!node_modules/todomvc-common/base.css
