<h2>New <%= underscore %></h2>
<p>
	<label for='name'>Name</label> <br/>
	<input type='input' name='name' id='name'/>
</p>
<p><label for='description'>Description</label><br/>
<textarea name='description' id='description'/></textarea>
</p>
<p><input type='submit' value='Create'/></p>