<div class="view">
	<input class="toggle" type="checkbox" <%= (this.completed) ? "checked" : "" %>>
	<!-- 
        This allows us to bind a JavaScriptMVC class to a dom element and
        to later retrieve it invoking .model() on the element
     -->
    <label <%= this %>><%= this.title %></label>
	<button class="destroy"></button>
</div>
<input class="edit" value="<%= this.title %>">