<footer class='info'>
  <p>Double-click to edit a todo</p>
  <p>
    Created by
    <AuthorAttribution @name='Preston Sego' @github='NullVoxPopuli' @twitter='NullVoxPopuli' />
  </p>
  <p>Part of <ExternalLink href='http://todomvc.com'>TodoMVC</ExternalLink></p>
</footer>