<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    <input id="new-todo" placeholder="What needs to be done?" autofocus>
  </header>
  {{^empty collection}}
    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      {{#collection item-view="todo-item" tag="ul" id="todo-list"}}
        <div class="view">
          <input class="toggle" type="checkbox" {{#if completed}}checked="checked"{{/if}}>
          <label>{{title}}</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="{{title}}">
      {{/collection}}
    </section>
    {{view "stats" tag="footer" id="footer"}}
  {{/empty}}
</section>
<div id="info">
  <p>Double-click to edit a todo</p>
  <p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a> &amp; <a href="https://github.com/eastridge">Ryan Eastridge</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</div>
