<section id="todoapp">
    <header lazo-cmp-container="h-cmp" id="header"></header>
    <section lazo-cmp-container="lazo-layout-body" id="main"></section>
    <footer lazo-cmp-container="f-cmp" id="footer"></footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>
        Created by <a href="https://github.com/jstrimpel">Jason Strimpel</a> using
        <a href="https://github.com/walmartlabs/lazojs">Lazo</a>
    </p>
    <p>
        Navigate to a component that shares the same layout:
        <a href="/hello" lazo-navigate>hello</a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>