/* The CSS that is common to all TodoMVC implementations, base.css, styles the selected routing filter using the
   following selector:

   #filters li a.selected

   In the GWT implementation, a Hyperlink widget is used for the routing filters. This widget allows you to
   specify a history - and will handle the clicks accordingly. The HTML for this widget is as follows:

   <div><a ...></a></div>

   Where the 'div' element represents the hyperlink GWT widget. This results in the following GWT
   specific style. */

#filters li div.selected a {
	font-weight: bold;
}

/* The GWT TodoMVC uses a CellList - a framework widget for rendering a list of cells - to
   render the list of todo items. Unfortunately the CellList uses a div as its root container
   and wraps each cell in a separate div. There are no extension points that allow you to change this.
   As a result, this application deviates from the TodoMVC standard of ul / li for the to do list. The
   styles applied to the li elements are duplicated here, matching a listItem class instead. */

#todo-list .listItem {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

#todo-list div :last-child .listItem {
	border-bottom: none;
}

#todo-list .listItem.editing {
	border-bottom: none;
	padding: 0;
}

#todo-list .listItem.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

#todo-list .listItem.editing .view {
	display: none;
}

#todo-list .listItem .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

#todo-list .listItem .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

#todo-list .listItem .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

#todo-list .listItem label {
	white-space: pre;
	word-break: break-word;
	padding: 15px 60px 15px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

#todo-list .listItem.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

#todo-list .listItem .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

#todo-list .listItem .destroy:hover {
	color: #af5b5e;
}

#todo-list .listItem .destroy:after {
	content: '×';
}

#todo-list .listItem:hover .destroy {
	display: block;
}

#todo-list .listItem .edit {
	display: none;
}

#todo-list div :last-child .listItem.editing {
	margin-bottom: -1px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.todo-list .listItem .toggle {
		background: none;
	}

	#todo-list .listItem .toggle {
		height: 40px;
	}
}
