<!--
	This is a static template file, so it doesn't have an associated app.
	It is rendered by the server via a staticPages renderer.

	Since static pages don't include the Derby client library, they can't have
	bound variables that automatically update. However, they do support initial
	template tag rendering from a context object and/or model.
-->

<Title:>
	Not found

<Body:>
	<h1>404</h1>
	<p>Sorry, we can't find anything at <b>{{url}}</b>.
	<p>Try heading back to the <a href="/">home page</a>.
