/* ============================================= */
/* CSS for control sap.m.DraftIndicator          */
/* ============================================= */

.sapMDraftIndicator .sapMLabel {
	font-style: italic;
	padding-left: 1rem;
	padding-right: 1rem;
}