.sapMMsgStripInformation {
	background-color: @sapUiNeutralBG;
	border-color: @sapUiNeutralBorder;
	color: @sapUiStandardText;

	& .sapMMsgStripIcon {
		color: @sapUiNeutralElement;
	}
}

.sapMMsgStripSuccess {
	background-color: @sapUiSuccessBG;
	border-color: @sapUiSuccessBorder;
	color: @sapUiStandardText;

	& .sapMMsgStripIcon {
		color: @sapUiPositiveElement;
	}
}

.sapMMsgStripWarning {
	background-color: @sapUiWarningBG;
	border-color: @sapUiWarningBorder;
	color: @sapUiStandardText;

	& .sapMMsgStripIcon {
		color: @sapUiCriticalElement;
	}
}

.sapMMsgStripError {
	background-color: @sapUiErrorBG;
	border-color: @sapUiErrorBorder;
	color: @sapUiStandardText;

	& .sapMMsgStripIcon {
		color: @sapUiNegativeElement;
	}
}

.sapMMsgStripCloseButton {
	// centering the content of the ::after element
	// does not work in IE if directly set on ::after
	// 1.5rem - 4px (1px border and 1px offset per side)
	line-height: 1.25rem;

	&:focus::after {
		border-color: @sapUiFocus;
	}

	&::after {
		top: 1px;
		left: 1px;
		bottom: 1px;
		right: 1px;
		border: 1px dotted transparent;
	}
}
