/* ============================================== */
/* CSS for control sap.m/MessagePage*/
/* BlueCrystal theme                              */
/* ============================================== */

/* MessagePage general styles */
.sapMMessagePage {
	background: fade(@sapUiGroupContentBackground, 70);
}

/* MessagePage inner controls styles*/
.sapMMessagePage .sapMText.sapMMessagePageMainText {
	color: @sapUiGroupTitleTextColor;
}

.sapMMessagePage .sapMText.sapMMessagePageDescription {
	color: @sapUiFieldPlaceholderTextColor;
}

.sapMMessagePage > .sapMPage > section > .sapUiIcon::before {
	color: fade(@sapUiElement,20);
}
