/* ============================================================= */
/* CSS for control sap.m/MultiComboBox.control BlueCrystal theme */
/* ============================================================= */

.sapMMultiComboBox {
	padding: 0.25rem 0;
	height: 3.0rem;
}

li.sapMMultiComboBoxItem {
	border: none;
}

/* ------------------------------ */
/* BorderDiv                      */
/* ------------------------------ */
.sap-desktop .sapMMultiComboBoxFocused:not(.sapMInputBaseReadonly):not(.sapMInputBaseError):not(.sapMInputBaseWarning):not(.sapMInputBaseSuccess) .sapMMultiComboBoxBorder {
	border-color:  @sapUiFieldFocusBorderColor;
}

.sap-desktop .sapMMultiComboBox:not(.sapMInputBaseReadonly):not(.sapMInputBaseError):not(.sapMInputBaseWarning):not(.sapMInputBaseSuccess) > .sapMMultiComboBoxBorder:hover {
	border-color:  @sapUiFieldHoverBorderColor;
}

.sapMMultiComboBox > .sapMMultiComboBoxBorder {
	background: @sapUiFieldBackground;
	border: 1px solid @sapUiFieldBorderColor;
	white-space: nowrap;
	position: relative;
	height: 2.375rem;
}

.sapMMultiComboBox .sapMTokenizerScrollContainer {
	padding-left: 0.75rem;
}

// on the desktop we hide the overflow
.sap-desktop .sapMMultiComboBox > .sapMMultiComboBoxBorder {
	overflow: hidden;
}

.sapUiSizeCompact .sapMMultiComboBox > .sapMMultiComboBoxBorder {
	height: 1.5rem;
}

.sapUiSizeCompact .sapMMultiComboBox .sapMTokenizerScrollContainer {
	padding-left: 0.1875rem;
}

.sapMInputBaseReadonly > .sapMMultiComboBoxBorder {
	border-color: transparent;
	background-color: transparent;
}

/* ------------------------------ */
/* InputDiv and ShadowDiv         */
/* ------------------------------ */
.sapMMultiComboBoxInputContainer {
	overflow:hidden;
	position: absolute;
	display: inline;
  	right: 0;
}

.sapMMultiComboBoxInputContainer > input,
.sapMMultiComboBoxInputContainer > div {
	border: 0 transparent;
	background: transparent;
}

.sapUiSizeCompact .sapMMultiComboBoxInputContainer > input,
.sapUiSizeCompact .sapMMultiComboBoxShadowDiv {
	padding-left: 0.1875rem; //0.25 - 0.0625 margin of last token
	padding-right: 0.25rem;
	min-width: 1.5rem;
}

.sapMMultiComboBoxInputContainer > input,
.sapMMultiComboBoxShadowDiv {
	border: 0 transparent;
	padding-left: 0.125rem; //0.375 - 0.25 margin of last token
	padding-right: 0.375rem;
	min-width: 2.25rem;
	background: transparent;
	height: 2.375rem;
	font-size: @sapMFontMediumSize;
	font-family: @sapUiFontFamily;
}

.sapMMultiComboBoxShadowDiv {
	display: inline;
	visibility: collapse;
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 0;
}

.sapUiSizeCompact .sapMMultiComboBoxShadowDiv {
	height: 1.625rem;
}

/* Keep placeholder invisible, when at least one token is chosen */

/* Webkit */
.sapMMultiComboBoxHasToken .sapMMultiComboBoxInputInner::-webkit-input-placeholder {
	color: transparent;
}

/* Firefox 19+ */
.sapMMultiComboBoxHasToken .sapMMultiComboBoxInputInner::-moz-placeholder {
	color: transparent;
}

/* IE */
.sapMMultiComboBoxHasToken .sapMMultiComboBoxInputInner:-ms-input-placeholder {
	color: transparent;
}

/* Keep placeholder invisible, when at least one token is chosen. IE solution */
.sapMMultiComboBoxHasToken > .sapMInputBasePlaceholder {
	color: transparent;
	max-width: 0;
}

// If a non-native placeholder is used, make sure that it is in front of children elements.
.sapMMultiComboBox > .sapMInputBasePlaceholder {
	z-index: 1;
}

// If a non-native placeholder is used, make sure that arrow button is in front of placeholder.
.sapMMultiComboBox .sapMComboBoxBaseArrow {
	z-index: 2;
}

/* ------------------------------ */
/* InputInner                     */
/* ------------------------------ */
.sapMMultiComboBoxInputContainer > input.sapMComboBoxBaseInputInner {
	height: 2.375rem;
	// Padding must be removed in this case, because MCB calculates the size of the input field on its own.
	padding-right: 0;
}

.sapUiSizeCompact .sapMMultiComboBoxInputContainer > input.sapMComboBoxBaseInputInner {
	height: 1.625rem;
	// Padding must be removed in this case, because MCB calculates the size of the input field on its own.
	padding-right: 0;
}

/* ------------------------------ */
/* ValueState                     */
/* ------------------------------ */
.sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxBorder,
.sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxBorder,
.sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxBorder {
	border-width: 2px;
}

.sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxBorder {
	border-color: @sapUiFieldInvalidColor;
	height: 2.25rem;
}

.sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxBorder {
	border-color: @sapUiFieldWarningColor;
	height: 2.25rem;
}

.sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxBorder {
	border-color: @sapUiFieldSuccessColor;
	height: 2.25rem;
}
	   
.sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxInputInner,
.sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxInputInner,
.sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxInputInner {
	height: 2.25rem;
}

.sapUiSizeCompact {
	.sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxBorder,
	.sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxBorder,
	.sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxBorder {
		height: 1.375rem;
	}
	
	.sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxBorder {
		border-color: @sapUiFieldInvalidColor;
	}

	.sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxBorder {
		border-color: @sapUiFieldWarningColor;
	}

	.sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxBorder {
		border-color: @sapUiFieldSuccessColor;
	}

	.sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxInputInner,
	.sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxInputInner,
	.sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxInputInner {
		height: 1.375rem;
	}
}

.sapMMultiComboBoxInputContainer > .sapMComboBoxBaseArrow,
.sapMMultiComboBoxInputContainer > .sapMComboBoxBaseBar::before {
	right: 0;
}

/* focus to allow go down via keyboard navigation into list */
.sap-desktop .sapMMultiComboBoxList li.sapMComboBoxBaseItem:focus {
	outline: 1px dotted @sapUiFocus;
}

.sapMMultiComboBoxItem .sapMCb {
	height: 2.5rem;
	line-height: 2.5rem;
}

li.sapMMultiComboBoxItem {
	height: 2.5rem;
}

.sapMMultiComboBoxPicker .sapMSLITitleOnly {
	font-size: 0.875rem;
}

.sap-desktop li.sapMMultiComboBoxItemRangeSelection {
	background-color: @sapUiLightestBGHover;
}
