.sap-phone, {
  .sapMOTAPopover {

	&.sapMOTAPopoverNoShadowTop {
	  -webkit-box-shadow: 0px 16px 30px 2px fade(@sapUiShadowTint, 15%);
	  -moz-box-shadow: 0px 16px 30px 2px fade(@sapUiShadowTint, 15%);
	  box-shadow: 0px 16px 30px 2px fade(@sapUiShadowTint, 15%);
	}

	&.sapMOTAPopoverNoShadowBottom {
	  -webkit-box-shadow: 0px -16px 30px 2px fade(@sapUiShadowTint, 15%);
	  -moz-box-shadow: 0px -16px 30px 2px fade(@sapUiShadowTint, 15%);
	  box-shadow: 0px -16px 30px 2px fade(@sapUiShadowTint, 15%);
	}

  }
}
