/* ===================================================== */
/* CSS for sap.m.Title.control (sap_bluecrystal)         */
/* ===================================================== */

@sapMTitleSize1: @sapMFontHeader1Size;
@sapMTitleSize2: @sapMFontHeader2Size;
@sapMTitleSize3: @sapMFontHeader3Size;
@sapMTitleSize4: @sapMFontHeader4Size;
@sapMTitleSize5: @sapMFontHeader5Size;
@sapMTitleSize6: @sapMFontHeader6Size;
@sapMTitleColor: @sapUiGroupTitleTextColor;
@sapMTitleFontFamily: @sapUiFontHeaderFamily;
@sapMTitleFontWeight: @sapUiFontHeaderWeight;

.sapMTitle {
	text-shadow: 0 0.0625rem 0 fade(@sapUiLightShadowTint, 50%);
}

.sapMIBar-CTX .sapMTitle {
	color: @sapUiBarText;
	text-shadow: none;
}

.sapMTB-Transparent-CTX .sapMTitle {
	text-shadow: 0 0.0625rem 0 @sapUiLightShadowTint;
}