node_modules/todomvc-common/*
!node_modules/todomvc-common/base.css
!node_modules/todomvc-common/base.js

node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css

node_modules/director/*
!node_modules/director/build/director.js

node_modules/sightglass/*
!node_modules/sightglass/index.js

node_modules/rivets/*
!node_modules/rivets/dist/rivets.js
