AddToContent "<ul>"
AddToContent    "<li>Include plugins and files in <%= path %>/<%= application_name %>.</li>"
AddToContent	"<li>Change to production mode by changing steal.js"
AddToContent        " to steal.production.js in this file.</li>"
AddToContent "</ul>"