node_modules/.bin/*

node_modules/canjs-localstorage/*
!node_modules/canjs-localstorage/can.localstorage.js

node_modules/napa/*

node_modules/canjs/*
!node_modules/canjs/can.jquery.js

node_modules/jquery/.bowerrc
node_modules/jquery/.npmignore
node_modules/jquery/AUTHORS.txt
node_modules/jquery/CONTRIBUTING.md
node_modules/jquery/MIT-LICENSE.txt
node_modules/jquery/README.md
node_modules/jquery/bower.json
node_modules/jquery/package.json
node_modules/jquery/.jscsrc
node_modules/jquery/src/*
node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.js

node_modules/todomvc-common/*
!node_modules/todomvc-common/base.js
!node_modules/todomvc-common/base.css

node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css
