.remaining-count-zero,
.remaining-count-one {
	display: none;
}

.remaining-zero .remaining-count-zero {
	display: inline;
}

.remaining-one .remaining-count-one {
	display: inline;
}

.remaining-zero .remaining-count-many,
.remaining-one .remaining-count-many {
	display: none;
}

#clear-completed {
	opacity: 1;
}

.completed-zero #clear-completed {
	opacity: 0;
}

.todos-one #main,
.todos-many #main,
.todos-one #footer,
.todos-many #footer {
	display: block;
}

#main,
#footer,
.todos-zero #main,
.todos-zero #footer {
	display: none;
}

/* TODO: Reinstate once we add routing */
