node_modules/backbone/*
!node_modules/backbone/backbone.js

node_modules/backbone.localstorage/*
!node_modules/backbone.localstorage/backbone.localStorage.js

node_modules/jquery/*
!node_modules/jquery/dist
node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.js

node_modules/react/*
!node_modules/react/dist
node_modules/react/dist/*
!node_modules/react/dist/react.js
!node_modules/react/dist/JSXTransformer.js

node_modules/classnames/*
!node_modules/classnames/index.js

node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common/*
!node_modules/todomvc-common/base.css
!node_modules/todomvc-common/base.js

node_modules/underscore/*
!node_modules/underscore/underscore.js
