[mol_view] {
    transition-property: background-color, height, width, min-height, min-width, max-width, max-height, transform;
    transition-duration: .2s;
    -webkit-appearance: none;
    word-break: break-word
}
[mol_view] > * {
    word-break: inherit
}
[mol_view_root] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font: 1rem/1.5 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: #fcfcfc
}
[mol_view][mol_view_error]:not([mol_view_error="$mol_atom_wait"]) {
    background-image: repeating-linear-gradient(
		135deg,
		rgba(255, 220, 220, 1),
		rgba(255, 220, 220, 1) 11px,
		rgba(255, 255, 220, 1) 10px,
		rgba(255, 255, 220, 1) 20px
	);
    background-size: 28px 28px;
    color: black
}
[mol_view][mol_view_error] * {
    background: none
}
@keyframes mol_view_wait_show {
    from {
        background: none
    }
}
@keyframes mol_view_wait_move {
    from {
        background-position: 0 0
    }
    to {
        background-position: -28px 0
    }
}
[mol_view][mol_view_error="$mol_atom_wait"] {
    background-image: repeating-linear-gradient(
		45deg,
		rgba(58, 140, 203, 0.05),
		rgba(58, 140, 203, 0.05) 9px,
		rgba(255, 255, 255, .015) 10px,
		rgba(255, 255, 255, .015) 20px
	);
    background-size: 28px 28px;
    animation: mol_view_wait_show .5s ease-in , mol_view_wait_move .25s steps(6) infinite
}
[mol_view][mol_view_error="$mol_atom_wait"] * {
    background: none
}
[mol_string] {
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, .75);
    outline-offset: 0;
    border: none;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    padding: .5rem 1rem;
    text-align: left;
    position: relative;
    z-index: 0;
    font: inherit;
    flex: 0 1 auto;
    width: 100%;
    background: #eee;
    color: rgba(0, 0, 0, .9);
    margin: 0
}
[mol_string]:enabled {
    background: white
}
[mol_string]:enabled:hover ,
[mol_string]:focus {
    outline: none;
    z-index: 1
}
[mol_string]:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2)
}
[mol_string]::-ms-clear {
    display: none
}
[mol_button] {
    border: none;
    font: inherit;
    background-color: none;
    display: inline-flex;
    flex-shrink: 0;
    text-decoration: inherit;
    color: inherit;
    cursor: inherit;
    position: relative;
    box-sizing: border-box;
    word-break: normal;
    cursor: default
}
[mol_button]:focus {
    outline: none
}
[mol_button_typed] {
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 2px
}
[mol_button_typed][disabled] {
    color: rgba(0, 0, 0, .5);
    background: none;
    pointer-events: none
}
[mol_button_minor] {
    box-shadow: 0 0 0 1px rgba(230, 230, 230, .75);
    background-color: #fcfcfc;
    color: rgba(0, 0, 0, .9)
}
[mol_button_major] {
    background-color: rgb(221, 14, 62);
    color: rgb(250, 255, 254);
    box-shadow: 0 0 0 1px rgba(230, 230, 230, .75)
}
[mol_button_danger] {
    background-color: rgba(255, 50, 50, .75);
    color: white
}
[mol_button_typed]:hover ,
[mol_button_typed]:focus {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05)
}
[mol_button_minor]:hover ,
[mol_button_minor]:focus {
    background-color: rgb(247, 247, 247);
    color: rgba(0, 0, 0, .9)
}
[mol_button_major]:hover ,
[mol_button_major]:focus {
    background-color: rgb(197, 13, 55)
}
[mol_button_danger]:hover ,
[mol_button_danger]:focus {
    background-color: rgba(255, 26, 26, 0.75)
}
[mol_link] {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    border-radius: 2px;
    padding: .5rem;
    box-sizing: border-box;
    position: relative
}
[mol_link]:not([mol_link_current]):hover {
    background-color: rgba(0, 0, 0, .05)
}
[mol_link]:not([mol_link_current]):focus {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: 0 0 0 1px var(--mol_skin_hover_line)
}
[mol_link_current] {
    background-color: #3a8ccb;
    color: white
}
[mol_link]:focus {
    outline: none
}
[mol_check] {
    flex: 0 0 auto;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    border: none;
    font-weight: inherit;
    box-shadow: none;
    text-align: left;
    padding: .5rem;
    display: inline-flex;
    flex-wrap: nowrap;
    color: inherit
}
[mol_scroll] {
    display: block;
    overflow: auto;
    flex: 1 1 auto;
    -ms-grid-row-align: stretch;
        align-self: stretch;
    box-sizing: border-box;
    will-change: scroll-position;
    transform: translateZ(0);
    /* enforce gpu scroll in all agents */
    box-shadow: 0 0 0 1px rgba(230, 230, 230, .75);
    max-height: 100%;
    max-width: 100%;
    -webkit-overflow-scrolling: touch
}
/* prevent large gpu layer */
[mol_scroll][mol_scroll] {
    background: none
}
[mol_scroll] > * {
    transform: translateZ(0)
}
@media print {
    [mol_scroll] {
        overflow: visible
    }
}
[mol_scroll_strut] {
    position: absolute;
    display: block;
    padding: 1px;
    margin: -1px;
    z-index: 0;
    transition: none
}
[mol_list] {
    will-change: contents;
    display: block
}
[mol_bar] {
    display: flex;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, .75);
    border-radius: 2px
}
[mol_bar] > * {
    border-radius: 0
}
[mol_bar] > *:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}
[mol_bar] > *:not(:first-child) {
    margin-left: 1px
}
[mol_bar] > *:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px
}
[mol_app_todomvc] {
    -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    transition: none
}
[mol_app_todomvc] [mol_string] ,
[mol_app_todomvc] [mol_string]:focus ,
[mol_app_todomvc] [mol_string]:hover ,
[mol_app_todomvc] [mol_button] ,
[mol_app_todomvc] [mol_button]:focus ,
[mol_app_todomvc] [mol_button]:hover ,
[mol_app_todomvc] [mol_link] ,
[mol_app_todomvc] [mol_link]:focus ,
[mol_app_todomvc] [mol_link]:hover {
    box-shadow: none;
    background-color: transparent
}
[mol_app_todomvc] [mol_link_current] {
    color: black
}
[mol_app_todomvc] [mol_link]:not([mol_link_current]):hover ,
[mol_app_todomvc] [mol_link]:not([mol_link_current]):focus {
    text-decoration: underline
}
[mol_app_todomvc_head_complete] {
    flex: 0 0 4rem;
    transform: rotate( 90deg );
    align-items: center;
    opacity: .5;
    padding: 0;
    justify-content: center
}
[mol_app_todomvc_head_complete]:disabled {
    visibility: hidden
}
[mol_app_todomvc_head_complete][mol_check_checked] {
    opacity: 1
}
[mol_app_todomvc_add] {
    padding: 0;
    flex: 1 1 auto
}
[mol_app_todomvc_list] {
    font-size: 1.5rem;
    transition: none
}
[mol_app_todomvc_page] {
    flex: 1 1 auto;
    transition: none
}
[mol_app_todomvc_panel] {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 25px 50px 0 rgba(0, 0, 0, .1);
    max-width: 38rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto 2rem;
    transition: none
}
[mol_app_todomvc_head] {
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    height: 4rem
}
[mol_app_todomvc_title] {
    word-break: normal;
    display: block;
    padding: .25rem;
    font-size: 7rem;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, .15);
    text-rendering: optimizeLegibility;
    text-transform: lowercase
}
[mol_app_todomvc_task_row] {
    display: flex;
    background-color: white;
    box-shadow: 0 -1px 0 0 #ededed;
    height: 4rem
}
[mol_app_todomvc_task_row_complete] {
    flex: 0 0 4rem;
    padding: 1rem;
    background: no-repeat center center url('mol/app/todomvc/todomvc_active.svg')
}
[mol_app_todomvc_task_row_complete][mol_check_checked] {
    background: no-repeat center center url('mol/app/todomvc/todomvc_completed.svg')
}
[mol_app_todomvc_task_row_title] {
    padding: 0;
    flex: 1 1 auto
}
[mol_app_todomvc_task_row_completed] [mol_app_todomvc_task_row_title] {
    color: #d9d9d9;
    text-decoration: line-through
}
[mol_app_todomvc_task_row_drop] {
    font-size: 1.25rem;
    flex: 0 04rem
}
[mol_app_todomvc_task_row]:not(:hover) [mol_app_todomvc_task_row_drop]:not(:focus) {
    opacity: 0;
    color: #cc9a9a
}
[mol_app_todomvc_foot] {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: .5rem 1rem;
    color: #777;
    font-size: .85rem;
    border-top: 1px solid #ededed;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, .2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, .2)
}
[mol_app_todomvc_pending] {
    padding: .25rem;
    flex: 0 1 6rem
}
[mol_app_todomvc_filter] {
    flex: 1 100 auto;
    display: flex;
    justify-content: center;
    margin: .25rem;
    box-shadow: none
}
[mol_app_todomvc_sweep] {
    flex: 0 1 auto;
    padding: .25rem
}
[mol_app_todomvc_sweep][disabled] {
    visibility: hidden
}
[mol_app_todomvc_sweep]:hover ,
[mol_app_todomvc_sweep]:focus {
    text-decoration: underline
}

/*# sourceMappingURL=web.css.map */