/* ================================================== */
/* CSS for control sap.ui.commons/MessageList.control */
/* ================================================== */
/*****************************************************/
/*                 Blue Crystal                      */
/*****************************************************/

.sapUiMsgList {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
	background-color: @sapUiWhiteBG;
	border-color: @sapUiDarkBorder;
}