/* ======================================================== */
/* CSS for control sap.ui.commons/ProgressIndicator.control */
/* Blue Crystal                                             */
/* ======================================================== */

.sapUiProgInd {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
}

html[data-sap-ui-browser^="ie"] .sapUiProgInd:focus{ /* IE only */
	outline: 1px dotted;
}