/* RichTooltip Blue Crystal */

.sapUiRtt {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
	border: 1px solid @sapUiDarkBorder;
	background-color: @sapUiLightestBG;
}

.sapUiRttSep {
	height: 1px;
	background-color: @sapUiMediumBG;
}
