.sapMListTblRow.sapMListTblRowTop > td {
	vertical-align: top;
}

.sapMListTblRow.sapMListTblRowMiddle > td {
	vertical-align: middle;
}

.sapMListTblRow.sapMListTblRowBottom > td {
	vertical-align: bottom;
}