
/* ============================================= */
/* CSS for control sap.m/FlexBox.control         */
/* ============================================= */

.sapMFlexItem {
	position: relative;
	-ms-flex-preferred-size: auto;
	-ms-flex-negative: 1;
}