/* ============================================= */
/* CSS for control sap.m/RadioButton.control     */
/* ============================================= */

.sapMRb {
	float: left;
	clear: left;
	outline: none;
	text-overflow: ellipsis;
	position: relative;
}

.sapMILI-CTX .sapMRb {
	float: right;
}

.sapMRbB {
	height: 3em;
	width: 3em;
	display: inline-block; /* for ie*/
	display: -webkit-inline-box;
}

.sapMRbB .sapMRbBOut {
	height: 1.03em;
	width: 1.03em;
	border-radius: 1em;
}

.sapMRbBLabel {
	vertical-align: top;
	height: 3em;
	line-height: 3em;
	cursor: default;
}

.sapMRbB input {
	margin: 0; /* FF puts margin */
	-webkit-appearance: none;
	visibility: hidden;
}

.sapMRbB:focus {
	outline: none;
}

.sapMRb:focus:before {
	content: "";
	display: block;
	position: absolute;
	top: .75rem;
	bottom: .625rem;
	left: .75rem;
	right: .625rem;
	z-index: -1;
}

.sapMRbHasLabel.sapMRb:focus:before {
	right: -0.0625rem;
}

.sapMRbDis:focus:before {
	display: none;
}

.sapUiSizeCompact .sapMRb:focus:before {
	top: .4375rem;
	bottom: .3125rem;
	left: .4375rem;
	right: .325rem;
}