.sapMWizardStep  {
	box-sizing: border-box;

	.sapMWizardStepTitle {
		font-size: 1.25rem;
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.sapUiFormResLayout > div {
		background-color: inherit;
	}
}
