
/* ============================================= */
/* CSS for control sap.ui.suite/VerticalProgressIndicator.control */
/* ============================================= */


.sapUiVerticalProgressOuterContainer{
	box-shadow: 0px 0px 0px @sapUiBaseBG;
	background-color: @sapUiBaseBG;
}

.sapUiVerticalProgressInnerContainer{
	background-color: @sapUiDeepBG;
}